# Ignore bundler config
/.bundle
*.gif
*.jpg
*.JPG
*.pdf
*.png
!public/images/flags/*.png
*.psd
*.pxm
*.svg
*.ttf
*.zip
config/database.yml
coverage/*
# Ignore the default SQLite database.
/db/*.sqlite3
doc/features.html

# Ignore all logfiles and tempfiles.
/log/*.log
public/up
/tmp
webrat.log
.sass-cache/
