# Ignore bundler config
/.bundle

*.pdf
!public/images/flags/*.png
*.psd
*.pxm
*.svg
*.ttf
*.zip
config/database.yml
coverage/*
# Ignore the default SQLite database.
/db/*.sqlite3
doc/features.html

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

/public/fixed-banners
/public/resorts
/public/up
/public/uploads
.sass-cache/

# Ignore generated RDOC
/doc/app/*

# Ignore Interhome data files
/interhome
