# m h  dom mon dow   command
*/30 * * * * /bin/bash -c 'export PATH="$HOME/.rbenv/bin:$PATH"; eval "$(rbenv init -)"; ~/railsapps/myskichalet/denormalize.sh'
0 1 * * * /bin/bash -c 'export PATH="$HOME/.rbenv/bin:$PATH"; eval "$(rbenv init -)"; ~/railsapps/myskichalet/cache_availability.sh'
0 2 * * * /bin/bash -c 'export PATH="$HOME/.rbenv/bin:$PATH"; eval "$(rbenv init -)"; ~/railsapps/myskichalet/interhome.sh'
0 5 * * * /bin/bash -c 'export PATH="$HOME/.rbenv/bin:$PATH"; eval "$(rbenv init -)"; ~/railsapps/myskichalet/pierre_et_vacances.sh'
0 6 * * * /bin/bash -c 'export PATH="$HOME/.rbenv/bin:$PATH"; eval "$(rbenv init -)"; ~/railsapps/myskichalet/generate_thumbnails.sh'
