<% if banner.nil? or rand() > 0.7 %>
  <% if rand() > 0.3 %>
  <a href='http://scripts.affiliatefuture.com/AFClick.asp?affiliateID=252735&amp;merchantID=3287&amp;programmeID=8586&amp;mediaID=114123&amp;tracking=&amp;url='><img border=0 src='http://banners.affiliatefuture.com/3287/114123.gif'></a>
  <% else %>
<img src="/images/wide-skyscraper-advertise-here.jpg" alt="Advertise in this space">
  <% end %>
<% else %>
  <a href="<%= click_banner_advert_path(banner)  %>"><img
    src="<%= banner.image.url %>" alt="<%= banner.user.business_name %>"
    title="<%= banner.user.business_name %>"></a>
<% end %>
