<%= render 'cms/menu' %>
<div class="cms">
<h2>Contents</h2>
<ul>
  <li><a href="#guide_directory_adverts">Directory Adverts</a></li>
</ul>

<h3 id="guide_directory_adverts">Directory Adverts</h3>

<p>
  This guide shows how you can add directory adverts that aren't associated with a particular user.
</p>

<ol>
  <li>Log in as an administrator</li>
  <li>Ensure the administrator has a valid promotion code for free directory adverts</li>
  <li>Click Account from the top menu</li>
  <li>Click New Directory/Banner Advert</li>
  <li>Enter the directory advert details</li>
  <li>Press Save</li>
  <li>Press your browser's back button and enter another directory advert if you want to</li>
  <li>Checkout</li>
</ol>
</div>
