= page_header 'CMS'
p= link_to t('.restart'), restart_path, class: 'btn btn-default'
p= link_to 'Precompile Assets', precompile_assets_path, class: 'btn btn-default'
p= link_to 'Style Guide', style_guide_path, class: 'btn btn-default'
