= page_header 'CMS'
p= "There are #{pluralize(delayed_job_workers, 'delayed_job worker')} running. There should be at least 4."
p= link_to t('.restart'), restart_path, class: 'btn btn-secondary'
p= link_to 'Precompile Assets', precompile_assets_path, class: 'btn btn-secondary'
p= link_to 'Style Guide', style_guide_path, class: 'btn btn-secondary'
