<% @blog_posts.each do |post| %>
<h2><%= link_to post.headline, blog_post_path(post) %></h2>
<%= raw post.summary %>
<p class="post_meta">
  <span class="post_date">
    <%= l(post.created_at, format: :short) %>
  </span>
</p>
<% end %>
<%= will_paginate @blog_posts %>
