= content_for :title, t('.title', holiday_type: @holiday_type)

= content_for :theme, @holiday_type.slug

= content_for :breadcrumbs_and_heading, breadcrumbs_and_heading({t('home_page') => root_path}, @holiday_type)

- content_for :search, render('home/home_search')
/- content_for :links do
/  section
/    h2= @holiday_type
/    ul
/      - @holiday_type.visible_country_brochures.each do |brochure|
/        - country = brochure.brochurable
/        li= link_to_with_count country, holiday_type_brochure_path('countries', country, @holiday_type.slug), country.property_count_for_holiday_type(@holiday_type)

- @featured_properties = @holiday_type.featured_properties(9)
- featured_properties = render('shared/featured_properties')
= raw Liquid::Template.parse(@page_content).render('featured_properties' => featured_properties)
