= content_for :theme, @holiday_type.slug

= content_for :breadcrumbs_and_heading, breadcrumbs_and_heading({t('home_page') => root_path, @holiday_type => @holiday_type}, t('.heading', place: @brochurable, holiday_type: @holiday_type))

- content_for :search, render('home/quick_search')
- content_for :links do
  = render partial: 'brochure_list', locals: { heading: t('.regions'), method: :region_brochures, brochurable: @brochurable, holiday_type: @holiday_type }
  = render partial: 'brochure_list', locals: { heading: t('.resorts'), method: :resort_brochures, brochurable: @brochurable, holiday_type: @holiday_type }

- featured_properties = render('shared/featured_properties')
- ski_regions = render('ski_regions')
- ski_resorts = render('ski_resorts')

= raw Liquid::Template.parse(@page_content).render('featured_properties' => featured_properties, 'ski_regions' => ski_regions, 'ski_resorts' => ski_resorts)
