<p>
  Dear <%= @name %>
</p>

<p>
  Thank you for choosing MyChaletFinder.com to place your advert.
  Your registration details are:
</p>
<p>
  Email: <%= @email %><br>
  Password: <%= @password %>
</p>

<p>
  Simply visit http://<%= @domain %>/ and sign in with your email address
  and password shown above.
</p>

<p>
  You will then be able to access your own Admin Area where you can:
</p>
<ul>
  <li>Update your personal details and change your password</li>
  <li>Change your address and billing information</li>
  <li>View and edit your adverts</li>
  <li>Add more adverts</li>
  <li>Set up your own personal Google Analytics account where website traffic
    on your advert can be viewed and analysed</li>
  <li>Check the enquiry emails you have received</li>
  <li>Review your advertising spend to date via the orders you have
    placed</li>
</ul>

<p>
  Thanks again for choosing MyChaletFinder.com and we wish you a successful
  advertising campaign.  If there are any resorts that you think we should
  cover on the website in addition to the current ones then we would
  appreciate any suggestions you have – just email us at
  <a href="mailto:info@mychaletfinder.com">info@mychaletfinder.com</a>
</p>
