#main_menu {
  background-color: #72c9e4;
  background-image: url(/images/menu-bg.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  height: 24px;
}

#main_menu ul {
  margin: 0;
  padding: 3px 0;
  list-style: none;
  height: 18px;
}

#main_menu li {
  font-size: 1.1em;
  text-transform: uppercase;
  float: right;
  margin-right: 1px;
}

#main_menu a {
  display: block;
  line-height: 18px;
  padding: 0 12px;
  color: #fff;
  text-decoration: none;
  border-left: 1px solid #fff;
}

#main_menu a:hover {
  text-decoration: underline;
}
