html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #98bae2;
  background-image: url(/images/sky-gradient.png);
  background-repeat: repeat-x;
  padding-top: 20px;
  font-size: 62.5%;
}

#wrapper {
  background: #fff;
  background-image: url(/images/my-ski-chalet.jpg);
  background-position: center 20px;
  background-repeat: no-repeat;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding: 240px 20px 20px 20px;

  color: #2b1d24;
  font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
}

#content {
  width: 660px;
  float: left;
  margin-left: 40px;
}

.field, li, p, td, th {
  font-size: 1.3em;
}

td {
  vertical-align: top;
}

h1, h2, h3 {
  color: #7d4116;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

pre {
  font-size: 1.4em;
}

p {
  margin: 1em 0;
}

footer[role=contentinfo] {
  clear: left;
}

input[type=email],
input[type=password],
input[type=text],
textarea {
  border: 1px solid #0f113e;
  padding: 2px;
  font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
  font-size: 1em;
  width: 14em;
}

textarea {
  width: 30em;
}

#flash_notice {
  background: #e9edf0;
  padding: 5px;
  border: 1px solid #8ba4c3;
  font-size: 1.2em;
  color: #543e38;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#main_menu ul {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  height: 30px;
  padding: 1px;
  background: #111;
}

#main_menu li {
  font-size: 1.8em;
  float: left;
  margin-right: 1px;
}

#main_menu a {
  display: block;
  line-height: 30px;
  padding: 0 20px;
  color: #fff;
  background: #222;
  text-decoration: none;
}

.clear {
  font-size: 1px;
  line-height: 1px;
  margin: 0;
  padding: 0;
  clear: both;
}

td.numeric {
  text-align: right;
}

table#properties_for_rent {
  border-collapse: collapse;
  border: 1px solid #ccc;
  clear: left;
}

#properties_for_rent td, th {
  padding: 0.3em 0.6em;
}

#properties_for_rent td {
  border-top: 1px solid #ccc;
}

#properties_for_rent th {
  width: 100px;
}

#properties_for_rent th+th {
  width: 12em;
}

#properties_for_rent th+th+th {
  width: 12em;
}

#properties_for_rent th+th+th {
  width: 5em;
}

#properties_for_rent td.features {
  border: none;
}

.filter {
  background: #eee;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 4px 10px 4px 6px;
  margin: 4px;
  display: block;
  float: left;
}

#browse {
  float: left;
  width: 200px;
}

#browse ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#browse li {
  margin: 0;
  padding: 0;
}

#browse a {
  font-size: 1.2em;
  color: #333;
  background-color: #eee;
  display: block;
  background-repeat: no-repeat;
  background-position: 6px center;
  padding: 4px 28px;
  text-decoration: none;
}

#browse a:hover {
  background-color: #ccc;
  color: #111;
}

.flag_AU a {
  background-image: url(/images/flags/au.png);
}

.flag_FR a {
  background-image: url(/images/flags/fr.png);
}

.flag_IT a {
  background-image: url(/images/flags/it.png);
}

.flag_CH a {
  background-image: url(/images/flags/ch.png);
}

.back a {
  background-image: url(/images/back.png);
}

.pagination {
  font-size: 1.2em;
  text-align: center;
  padding: .3em;
  margin-top: 1em;
}

.pagination a, .pagination span, .pagination em {
  padding: .2em .5em;
}

.pagination span.disabled {
  color: #AAA;
}

.pagination em {
  font-weight: bold;
  color: #FF0084;
}

.pagination a {
  border: 1px solid #DDDDDD;
  color: #0063DC;
  text-decoration: none;
}

.pagination a:hover, .pagination a:focus {
  border-color: #003366;
  background: #0063DC;
  color: white; }

.pagination .page_info {
  color: #aaa;
  padding-top: .8em;
}

.pagination .previous_page, .pagination .next_page {
  border-width: 2px;
}

.pagination .previous_page {
  margin-right: 1em;
}

.pagination .next_page {
  margin-left: 1em;
}

input[type=text] .LV_invalid_field,
input[type=email] .LV_invalid_field {
  border: 1px solid #f00;
}

.LV_validation_message {
  margin-left: 10px;
}

.LV_invalid {
  color: red;
}

.LV_valid {
  color: green;
}

#my_details_summary {
  background: #eee;
  font-size: .8em;
  border-radius: 1em;
  border: 1px solid #ccc;
  padding: 10px;
}

textarea#description {
  height: 10em;
}

textarea#directory_advert_business_address {
  height: 5em;
  width: 20em;
}

.km {
  font-size: 0.8em;
  padding-left: 0.2em;
}

div.field_with_errors {
  display: inline;
}

.field_with_errors input[type=password],
.field_with_errors input[type=text] {
  border: 1px solid red;
}

.required {
  font-weight: bold;
  color: red;
}

#map_canvas {
  width: 100%;
  height: 350px;
}

ul.thumbnails {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}

.thumbnails li {
  float: left;
  margin: 2px;
}

.thumbnails img {
  display: block;
}

.thumbnails div {
  border: 1px solid #ccc;
  padding: 2px;
  background: #eee;
}

ul#property_thumbnails {
  width: 222px;
  float: left;
}

p#property_main_image {
  float: left;
  width: 400px;
}

/**
 * Admin bar
 */

#admin_bar {
  height: 24px;
  position: fixed;
  top: 0;
  width: 100%;
}

#admin_bar ul {
  margin: 0;
  padding: 0;
}

#admin_bar li {
  list-style: none;
  float: left;
  margin: 5px 0 0 5px;
}

#admin_bar a {
  display: block;
  background: #333;
  color: #fff;
  height: 24px;
  line-height: 24px;
  padding: 0 10px;
  font-family: sans-serif;
  text-decoration: none;
  border: 1px solid #000;
  filter:alpha(opacity=90);
  opacity:0.9;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#admin_bar a:hover {
  background: #111;
}
