html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #98bae2;
  background-image: url(/images/sky-gradient.png);
  background-repeat: repeat-x;
  padding-top: 20px;
  font-size: 62.5%;
}

#wrapper {
  background: #fff;
  background-image: url(/images/my-ski-chalet.jpg);
  background-position: center 20px;
  background-repeat: no-repeat;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding: 240px 20px 20px 20px;

  color: #2b1d24;
  font-family: 'Lucida Sans';
}

li, p, td, th {
  font-size: 1.4em;
}

h1, h2, h3 {
  color: #7d4116;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

input[type=email],
input[type=password],
input[type=text] {
  border: 1px solid #0f113e;
  padding: 2px;
  font-family: 'Lucida Sans', Arial, sans-serif;
  font-size: 1em;
  width: 14em;
}

#flash_notice {
  background: #e9edf0;
  padding: 5px;
  border: 1px solid #8ba4c3;
  font-size: 1.2em;
  color: #543e38;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

#main_menu ul {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  height: 30px;
  padding: 1px;
  background: #111;
}

#main_menu li {
  font-size: 1.8em;
  float: left;
  margin-right: 1px;
}

#main_menu a {
  display: block;
  line-height: 30px;
  padding: 0 20px;
  color: #fff;
  background: #222;
  text-decoration: none;
}

table#properties_for_rent {
  border-collapse: collapse;
  border: 1px solid #ccc;
}

#properties_for_rent td, th {
  padding: 0.3em 0.6em;
}

#properties_for_rent td {
  border-top: 1px solid #ccc;
}

#properties_for_rent th {
  width: 14em;
}

#properties_for_rent th+th {
  width: 6em;
}

#properties_for_rent td+td,
#properties_for_rent td+td+td,
#properties_for_rent td+td+td+td {
  text-align: right;
}

#browse {
  float: left;
}

#browse ul {
  list-style: none;
}

#browse li {
  margin: 0;
  padding: 0;
}

#browse a {
  font-size: 1.2em;
  color: #333;
  background: #eee;
  display: block;
  background-repeat: no-repeat;
  background-position: 4px center;
  padding: 0 24px;
}

#flag_AU a {
  background-image: url(/images/flags/au.png);
}

#flag_FR a {
  background-image: url(/images/flags/fr.png);
}

#flag_IT a {
  background-image: url(/images/flags/it.png);
}

#flag_CH a {
  background-image: url(/images/flags/ch.png);
}