/* CSS - to keep */


/* CSS - experimental */

div#intro {
  text-align: justify;
}

.box .coloured {
  color: #00AEEF;
}

.footer_box ul {
  border-bottom: none;
}

.footer_box {
  border-bottom: 1px solid #CCC;
}

.hide-from-legacy {
  display: none;
}
