<h1>My Details</h1>

<%= form_for(@user) do |f| %>
<p>
  <%= f.check_box :interested_in_renting_out_properties %>
  <%= f.label :interested_in_renting_out_properties %>
</p>
<%= f.submit I18n.t('save') %>
<% end %>
