<% if signed_in? %>
<nav>
  <ul>
    <li><%= link_to 'My Details', my_details_path %></li>
    <li>Receipts</li>
    <li>Stats</li>
    <li>My Feedback</li>
<% if @current_user.interested_in_renting_out_properties? %>
    <li><%= link_to 'My Properties for Rent', my_properties_for_rent_path %></li>
<% end %>
  </ul>
</nav>
<% else %>
<%= I18n.t('sign_in') %>
<% end %>
