<h1><%= I18n.t(:my_directory_adverts) %></h1>
<p>
  <%= link_to 'New Directory Advert', new_directory_advert_path %>
</p>
<% if @directory_adverts.empty? %>
<p>
  You have no directory adverts.
</p>
<% else %>
<ul>
  <% @directory_adverts.each do |advert| %>
  <li><%= link_to advert.user.business_name, edit_directory_advert_path(advert) %></li>
  <% end %>
</ul>
<% end %>
