  <h2>Included in the total price</h2>
  <table class="table">
<% @additional_services.included.each do |service| -%>
    <tr>
      <td>
        <%= service.description %> (<%= service.type_desc %>)
      </td>
    </tr>
<% end -%><!-- included service line -->
  </table>
