javascript:
  function submit(extraValues) {
    var valuesToSubmit = $('#booking_form form').serialize() + extraValues;
    $('#booking_results').replaceWith('<div id="booking_results"></div>');
    $('#checking').modal('show');
    $.ajax({
      url: '/properties/check_interhome_booking',
      type: 'POST',
      data: valuesToSubmit
    }).success(function(data) {
      $('#booking_results').replaceWith(data);
      $('#checking').modal('hide');
      if(data.indexOf('unavailable') == -1) {
        $('#collapse2').collapse('show');
        var new_position = $('#collapse_heading2').offset();
        window.scrollTo(new_position.left, new_position.top);
      } else {
        $('#collapse1').collapse('show');
        var new_position = $('#collapse_heading1').offset();
        window.scrollTo(new_position.left, new_position.top);
        $('#unavailable').modal('show');
      }
    }).error(function(data) {
      $('#checking').modal('hide');
      $('#retry_modal').modal('show');
      $('#retry').click(
        function() {
          $('#retry_modal').modal('hide');
          submitCheck();
        }
      );
    });
    return false;
  }

  function submitCheck() {
    submit('');
  }

  function isValidEmailAddress(emailAddress) {
    var pattern = new RegExp(/^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?$/i);
    return pattern.test(emailAddress);
  }

  function submitBooking() {
    if($('#customer_salutation_type').val() == '') {
      alert('Please choose your title from the list.');
      $('#customer_salutation_type').focus();
      return;
    }
    if($('#customer_first_name').val() == '') {
      alert('Please enter your first name.');
      $('#customer_first_name').focus();
      return;
    }
    if($('#customer_name').val() == '') {
      alert('Please enter your surname.');
      $('#customer_name').focus();
      return;
    }
    email = $('#customer_email').val();
    if(email == '') {
      alert('Please enter your email address.');
      $('#customer_email').focus();
      return;
    }
    emailConfirmation = $('#customer_email_confirmation').val();
    if(email != emailConfirmation) {
      alert('Please check and confirm that your email address is correct.');
      $('#customer_email_confirmation').focus();
      return;
    }
    if(!isValidEmailAddress(email)) {
      alert('Please enter a valid email address.');
      $('#customer_email').focus();
      return;      
    }
    if(email.length > 69) {
      alert('Please enter an email address under 70 characters long.');
      $('#customer_email').focus();
      return;      
    }
    if($('#customer_address_street').val() == '') {
      alert('Please enter the first line of your address.');
      $('#customer_address_street').focus();
      return;
    }
    if($('#customer_address_place').val() == '') {
      alert('Please enter the town/city of your address.');
      $('#customer_address_place').focus();
      return;
    }
    if($('#customer_address_zip').val() == '') {
      alert('Please enter your postcode/ZIP.');
      $('#customer_address_zip').focus();
      return;
    }
    if($('#customer_address_country_code').val() == '') {
      alert('Please choose your country from the list.');
      $('#customer_address_country_code').focus();
      return;
    }
    if(!$('#terms_accepted').is(':checked')) {
      alert('You must accept Interhome\'s terms and conditions before you can make a booking.');
      $('#terms_accepted').focus();
      return;
    }
    submit('&submit=Book');
  }

  function updateDayOfMonthSelect() {
    var valuesToSubmit = 'year_month=' + $('#interhome_booking_arrival_month').val();
    $.ajax({
      url: '/properties/update_day_of_month_select',
      type: 'GET',
      data: valuesToSubmit
    }).success(function(data) {
      $('#day-of-month').replaceWith(data);
      if(window.selectDay) {
        $('#interhome_booking_arrival_day').val(selectDay);
        window.selectDay = 0;
      }
      submitCheck();
    }).error(function(data) {
      $('#day-of-month').replaceWith('<span id="day-of-month"><h2>An error occurred. Please <a id="retry-day-of-month">try again</a>.</h2></div>');
      $('#retry-day-of-month').click(updateDayOfMonthSelect);
    });
    return false;
  }

  $(function() {
    $(".collapse").collapse({parent: '#accordion', toggle: false});
    $('td[data-toggle=popover]').popover();

    $('#booking_form').on('change', '.trigger-update input', submitCheck);
    $('#booking_form').on('change', '.trigger-update select', submitCheck);
    $('#booking_form').on('change', '#interhome_booking_arrival_month', updateDayOfMonthSelect);
    $('#booking_form').submit(function() { submitBooking(); return false; });
    $('.month .availability-Y').click(function() {
      window.selectDay = $(this).data('day');
      $('#interhome_booking_arrival_month').val($(this).data('month'));
      var new_position = $('#booking_results').offset();
      window.scrollTo(new_position.left, new_position.top);
      $('#interhome_booking_arrival_month').change();
    });

    $('#later').click(function() {
      if($('.month:visible').last().next('.month').length) {
        a = $('.month:visible').last().next('.month');
        b = a.next();
        c = b.next();
        $('.month:visible').hide();
        a.show();
        b.show();
        c.show();
      }
      return false;
    });

    $('#earlier').click(function() {
      if($('.month:visible').first().prev('.month').length) {
        a = $('.month:visible').first().prev('.month');
        b = a.prev();
        c = b.prev();
        $('.month:visible').hide();
        a.show();
        b.show();
        c.show();
      }
      return false;
    });
  });

.modal.fade#checking role="dialog" aria-labelledby="checking-title" aria-describedby="checking-description"
  .modal-dialog
    .modal-content
      .modal-header
        button.close type="button" data-dismiss="modal" aria-hidden="true" &times;
        h4.modal-title#checking-title Checking...
      .modal-body
        p#checking-description We're checking the availability, prices and options for your selection...
        .progress.progress-striped.active
          .progress-bar style="width: 100%;"

.modal.fade#retry_modal role="dialog" aria-labelledby="error-title" aria-describedby="error-description"
  .modal-dialog
    .modal-content
      .modal-header
        button.close type="button" data-dismiss="modal" aria-hidden="true" &times;
        h4.modal-title#error-title Oops
      .modal-body
        p#error-description
          = 'An error occurred. Please '
          a#retry try again
          | .

.modal.fade#unavailable role="dialog" aria-labelledby="unavailable-title" aria-describedby="unavailable-description"
  .modal-dialog
    .modal-content
      .modal-header
        button.close type="button" data-dismiss="modal" aria-hidden="true" &times;
        h4.modal-title#unavailable-title Property unavailable
      .modal-body
        p#unavailable-description The property is unavailable for the dates you have requested.

#booking_form
  = form_tag action: 'check_interhome_booking', id: @property.id do |form|
    - cal = InterhomeCalendar.new(@accommodation.interhome_vacancy)
    section
      h2.coloured Book your holiday
      p Booking your summer or skiing holiday with MyChaletFinder is safe, simple and fast.
      ul
        li Follow the steps below to choose your holiday accommodation.
        li After you click on “Book” your booking will be made and you will receive a confirmation by email with your booking information.
        li Please keep this confirmation safe as it is your record of your booking. Closer to the date you travel, you will receive details of where you collect the keys.
        li After booking you will be shown a screen to input your card payment information to pay your deposit, or the full amount if the date is close.
        li If you have not paid online then the booking office will send you an invoice for the full amount, otherwise the office will send you an invoice for the remainder.
      p We hope you have a great holiday!
    .accordion#accordion
      .accordion-group
        .accordion-heading#collapse_heading1
          h2 style="line-height: 20px;"
            a.accordion-toggle data-toggle="collapse" data-parent="#accordion" href="#collapse1" 1. Check availability
        #collapse1.accordion-body.collapse.in
          .accordion-inner
            .well
              .btn-group
                button.btn.btn-default#earlier
                  i.icon-backward>
                  | Earlier
                button.btn.btn-default#later
                  | Later 
                  i.icon-forward<
              br
              - today = Date.today
              - month = today.month
              - year = today.year
              - hide = false
              - 15.times do |i|
                .month id="month#{month}#{year}" data-month="#{month}" data-year="#{year}" style="#{'display: none' if hide}"
                  = raw cal.show_month(month, year)
                - hide = true if (i + 1) % 3 == 0
                - month += 1
                - if month == 13; month = 1; year += 1; end

              = clear
              section.calendar-key
                h2 Key
                table.interhome-calendar
                  tr
                    td.availability-Y Available
                    td.availability-Y-no-check-in data-toggle="popover" data-original-title="No check-in" data-content="Some of our holiday rentals only accept arrivals on certain dates even though the property may be free on other days. Arrival dates are shown on the calendar as the dark green squares."
                      i.icon-info-sign.icon-white>
                      | No check-in
                    td.availability-N Unavailable
                    td.availability-Q Booking possible only on request
      .accordion-group
        .accordion-heading#collapse_heading2
          h2 style="line-height: 20px;"
            a.accordion-toggle data-toggle="collapse" data-parent="#accordion" href="#collapse2" 2. Customise your stay
        #collapse2.accordion-body.collapse
          .accordion-inner
            .well
              input type="hidden" name="permalink" value="#{params[:permalink]}"
              span.trigger-update
                label Date of arrival
                span#day-of-month
                  = select('interhome_booking', 'arrival_day', booking_days(@interhome_booking.arrival_date.month, @interhome_booking.arrival_date.year))
              = select('interhome_booking', 'arrival_month', booking_months)
              .trigger-update
                label Duration of stay
                = select('interhome_booking', 'duration', booking_durations)
                h3 Travellers
                .row
                  .col-lg-3
                    label
                      | Adults
                      input#interhome_booking_adults.span1 type="text" name="interhome_booking[adults]" value="#{@interhome_booking.adults}"
                  .col-lg-4
                    label
                      | Children (3-12 years)
                      input#interhome_booking_children.span1 type="text" name="interhome_booking[children]" value="#{@interhome_booking.children}"
                  .col-lg-4
                    label
                      | Babies (0-2 years)
                      input#interhome_booking_babies.span1 type="text" name="interhome_booking[babies]" value="#{@interhome_booking.babies}"
              #booking_results
                p Please select your dates of travel.
