<% unless @accommodation.geodata_lat.empty? %>
<a href="#" id="location" class="btn btn-primary btn-large btn-property"><i class="icon-map-marker icon-white"></i>
  Show Location</a>
<div class="modal hide fade" id="location-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Location</h3>
  </div>
  <div class="modal-body">
    <div id="map_canvas"></div>
  </div>
</div>
<% end %>
