<% unless @accommodation.geodata_lat.empty? %>
<a href="#" id="location" class="btn btn-primary btn-large"><i class="icon-map-marker icon-white"></i>
  Show Location</a>
<div id="map_cavas"></div>
<% end %>
