<div class="search-field">
  <label for="price_range">Price Range</label>
  <div class="search-field-input">
    <select id="price_range" name="price_range" class="form-control">
      <option value="">Choose</option>
      <option value="1">Less than €300</option>
      <option value="2">€300 &#8212; €450</option>
      <option value="3">€450 &#8212; €600</option>
      <option value="4">€600 &#8212; €800</option>
      <option value="5">€800 &#8212; €1,000</option>
      <option value="6">€1,000 &#8212; €1,250</option>
      <option value="7">€1,250 &#8212; €1,500</option>
      <option value="8">€1,500 +</option>
    </select>
  </div>
</div>
