javascript:
  let checkIn, checkOut

  function submit(extraValues) {
    if(window.selectDay) {
      // Date selection is being updated so let's wait for the
      // event that gets triggered after the update.
      return;
    }
    const min_stay = "#{@property.min_stay}"
    const duration = Math.floor((checkOut - checkIn) / ( 24 * 60 * 60 * 1000 ))
    if (duration < min_stay) {
      $('#duration_unavailable').modal('show')
      return
    }
    $('#interhome_booking_duration').val(duration)
    var valuesToSubmit = $('#booking_form form').serialize() + extraValues;
    $('#booking_results').replaceWith('<div id="booking_results"></div>');
    $('#checking').modal('show');
    $.ajax({
      url: '/properties/check_interhome_booking',
      type: 'POST',
      data: valuesToSubmit
    }).done(function(data) {
      $('#booking_results').replaceWith(data);
      $('#checking').modal('hide');
      if(data.indexOf('unavailable') == -1) {
        var new_position = $('#booking-step-2').offset();
        window.scrollTo(new_position.left, new_position.top);
      } else {
        var new_position = $('#booking-step-1').offset();
        window.scrollTo(new_position.left, new_position.top);
        $('#unavailable').modal('show');
      }
    }).fail(function(data) {
      $('#checking').modal('hide');
      $('#retry_modal').modal('show');
      $('#retry').click(
        function() {
          $('#retry_modal').modal('hide');
          submitCheck();
        }
      );
    });
    return false;
  }

  function submitCheck() {
    submit('');
  }

  function invalidateQuote() {
    $('#check_avl_price').html('<div style="text-align:center;padding:20px;"><a class="button action-button" onclick="submit(\'\');return false;">Check Availability & Price</a></div>');
  }

  function submitBooking() {
    if($('#customer_salutation_type').val() == '') {
      alert('Please choose your title from the list.');
      $('#customer_salutation_type').focus();
      return;
    }
    if($('#customer_first_name').val() == '') {
      alert('Please enter your first name.');
      $('#customer_first_name').focus();
      return;
    }
    if($('#customer_name').val() == '') {
      alert('Please enter your surname.');
      $('#customer_name').focus();
      return;
    }
    email = $('#customer_email').val();
    if(email == '') {
      alert('Please enter your email address.');
      $('#customer_email').focus();
      return;
    }
    emailConfirmation = $('#customer_email_confirmation').val();
    if(email != emailConfirmation) {
      alert('Please check and confirm that your email address is correct.');
      $('#customer_email_confirmation').focus();
      return;
    }
    if(!isValidEmailAddress(email)) {
      alert('Please enter a valid email address.');
      $('#customer_email').focus();
      return;
    }
    if(email.length > 69) {
      alert('Please enter an email address under 70 characters long.');
      $('#customer_email').focus();
      return;
    }
    if($('#customer_address_street').val() == '') {
      alert('Please enter the first line of your address.');
      $('#customer_address_street').focus();
      return;
    }
    if($('#customer_address_place').val() == '') {
      alert('Please enter the town/city of your address.');
      $('#customer_address_place').focus();
      return;
    }
    if($('#customer_address_zip').val() == '') {
      alert('Please enter your postcode/ZIP.');
      $('#customer_address_zip').focus();
      return;
    }
    if($('#customer_address_country_code').val() == '') {
      alert('Please choose your country from the list.');
      $('#customer_address_country_code').focus();
      return;
    }
    if(!$('#terms_accepted').is(':checked')) {
      alert('You must accept Interhome\'s terms and conditions before you can make a booking.');
      $('#terms_accepted').focus();
      return;
    }
    submit('&submit=Book');
  }

  function updateDayOfMonthSelect() {
    var valuesToSubmit = 'year_month=' + $('#interhome_booking_arrival_month').val();
    $.ajax({
      url: '/properties/update_day_of_month_select',
      type: 'GET',
      data: valuesToSubmit
    }).done(function(data) {
      $('#day-of-month').replaceWith(data);
      if(window.selectDay) {
        $('#interhome_booking_arrival_day').val(window.selectDay);
        window.selectDay = 0;
      }
      invalidateQuote();
    }).fail(function(data) {
      $('#day-of-month').replaceWith('<span id="day-of-month"><h2>An error occurred. Please <a id="retry-day-of-month">try again</a>.</h2></div>');
      $('#retry-day-of-month').click(updateDayOfMonthSelect);
    });
    return false;
  }

  const monthNames = ["Jan", "Feb", "Mar", "Apr", "May","Jun","Jul", "Aug", "Sepr", "Oct", "Nov","Dec"]

  function initDatePicker() {
      var today = new Date();
      var dd = today.getDate();
      var mm = today.getMonth() + 1;
      var yyyy = today.getFullYear();
      today = mm + '/' + dd + '/' + yyyy;

      function format(date) {
        const new_date = date.format('DD B YYYY');
        const month = monthNames[Number(date.format('MM')) - 1];
        return new_date.replace('B', month);
      }

      $('.date_pick').html('-');

      $('.date_pick').daterangepicker({
        opens: 'center',
        singleDatePicker: true,
        minDate: today
      }, function(start) {

        const id = this.element[0].id
        const date = new Date(start.format('YYYY-MM-DD'))

        if (id === 'check_in_date') {
          const dd = start.format('YYYY-MM:DD').split(':')
          checkIn = date

          $('#interhome_booking_arrival_month').val(dd[0]);
          window.selectDay = String(dd[1])
          $('#interhome_booking_arrival_month').change();
          $('#check_in_date').html(format(start));
          $('#check_in_date_en').html(format(start));
        } else {
          checkOut = date
          $('#check_out_date').html(format(start));
          $('#check_out_date_en').html(format(start));
        }
      });

      invalidateQuote()
  }

  $(function() {

    let checkInSelected = false

    $(".collapse").collapse({parent: '#accordion', toggle: false});
    // $('td[data-toggle=popover]').popover();

    $('#booking_form').on('change', '.trigger-update input', invalidateQuote);
    $('#booking_form').on('change', '.trigger-update select', invalidateQuote);
    $('#booking_form').on('change', '#interhome_booking_arrival_month', updateDayOfMonthSelect);
    $('#booking_form').submit(function() { submitBooking(); return false; });

    $('.availability-Q').click(function(ev) {
      $('#interhome_enquiry').modal('show');
    })

    $('.month .availability-Y').click(function(ev) {

      const y_m = $(this).data('month').split('-')

      const y = Number(y_m[0])
      const m = Number(y_m[1])
      const d = Number($(this).data('day'))
      const date = new Date()
      date.setFullYear(y, m, d)
      const html = `${d} ${monthNames[m - 1]} ${y}`

      if (checkInSelected) {
        $('#check_out_date').html(html)
        checkOut = date
        checkInSelected = false
        return
      }

      checkIn = date
      checkInSelected = true
      window.selectDay = d;
      $('#interhome_booking_arrival_month').val($(this).data('month'));
      $('#check_in_date').html(html)
      $('#interhome_booking_arrival_month').change();
      ev.preventDefault();
      return false;
    });

    calendarControls();
    initDatePicker()

    const day = $('#interhome_booking_arrival_day').val()
    const y_m = $('#interhome_booking_arrival_month').val().split('-')
    const min_stay = "#{@property.min_stay}"

    if (day) {
      const y = Number(y_m[0])
      const m = Number(y_m[1])
      const date = new Date()
      date.setFullYear(y, m, Number(day))
      const tmp = date.getTime() + Number(min_stay) * 60 * 60 * 24 * 1000
      const outD = new Date(tmp)
      checkIn = date
      checkOut = outD

      const ci = `${day} ${monthNames[m - 1]} ${y}`
      const co = `${outD.getDate()} ${monthNames[outD.getMonth() - 1]} ${outD.getFullYear()}`

      $('#check_in_date').html(ci)
      $('#check_in_date_en').html(ci)

      $('#check_out_date').html(co)
      $('#check_out_date_en').html(co)

      $('#interhome_booking_duration').val(min_stay)
    }

  });

.modal.fade#checking role="dialog" aria-labelledby="checking-title" aria-describedby="checking-description"
  .modal-dialog
    .modal-content
      .modal-header
        button.close type="button" data-dismiss="modal" aria-hidden="true" &times;
        h4.modal-title#checking-title Checking...
      .modal-body
        h4#checking-description We're checking the availability, prices and options for your selection...
        .progress.progress-striped.active
          .progress-bar style="width: 100%;"

.modal.fade#retry_modal role="dialog" aria-labelledby="error-title" aria-describedby="error-description"
  .modal-dialog
    .modal-content
      .modal-header
        button.close type="button" data-dismiss="modal" aria-hidden="true" &times;
        h4.modal-title#error-title Oops
      .modal-body
        h4#error-description
          = 'An error occurred. Please '
          a#retry try again
          | .

.modal.fade#unavailable role="dialog" aria-labelledby="unavailable-title" aria-describedby="unavailable-description"
  .modal-dialog
    .modal-content
      .modal-header
        button.close type="button" data-dismiss="modal" aria-hidden="true" &times;
        h4.modal-title#unavailable-title Property unavailable
      .modal-body
        h4#unavailable-description The property is unavailable for the dates you have requested.

.modal.fade#duration_unavailable role="dialog" aria-labelledby="duration_unavailable-title" aria-describedby="duration_unavailable-description"
  .modal-dialog
    .modal-content
      .modal-header
        button.close type="button" data-dismiss="modal" aria-hidden="true" &times;
        h4.modal-title#duration_unavailable-title Select Check-in or Check-out date again
      .modal-body
        h4#unavailable-description The minimum duration is #{@property.min_stay} days

.modal.fade#interhome_enquiry role="dialog" aria-labelledby="interhome_enquiry-title" aria-describedby="interhome_enquiry-description"
  .modal-dialog
    .modal-content
      .modal-header
        button.close type="button" data-dismiss="modal" aria-hidden="true" &times;
        h4.modal-title#interhome_enquiry-title Interhome Enquiry
      .modal-body
        = render partial: 'interhome_enquiry_form', locals: { p: @property, acc: @accommodation }

#booking_form
  br
  br
  h2 Please select your check-in and check-out days by clicking a date on the calendar.
  br
  = form_tag action: 'check_interhome_booking', id: @property.id do |form|
    - cal = InterhomeCalendar.new(@accommodation.interhome_vacancy)
    .flex-layout
      .flex-32.panel-section
        .display-flex.content-space-between
          button.button.action-button#earlier style="margin-right: 2rem"
            i.fas.fa-backward>
            | Earlier
          button.button.action-button#later
            | Later
            i.fas.fa-forward<
        br
        - today = Date.today
        - month = today.month
        - year = today.year
        - hide = false
        - 15.times do |i|
          .month id="month#{month}#{year}" data-month="#{month}" data-year="#{year}" style="#{'display: none' if hide}"
            = raw cal.show_month(month, year)
          - hide = true if (i + 1) % 3 == 0
          - month += 1
          - if month == 13
            - month = 1
            - year += 1

        = clear
        section.calendar-key
          table.interhome-calendar
            tr
              td.availability-Y style="width: 25%" Available
              td.availability-N style="width: 25%" Not Available
              td.availability-Q style="width: 25%" On request
              td.availability-Y-no-check-in style="width: 25%" data-toggle="popover" data-original-title="No check-in" data-content="Some of our holiday rentals only accept arrivals on certain dates even though the property may be free on other days. Check-in dates are shown on the calendar as the dark green squares."
                | No check-in
      .flex-3.panel-section style="color: black"
        input type="hidden" name="permalink" value="#{@accommodation.permalink}"
        .display-flex.content-space-between.align-center
          label Check-in date
          #check_in_date.date_pick
        br
        .display-flex.content-space-between.align-center
          label Check-out date
          #check_out_date.date_pick
        br
        .display-flex.content-space-between.align-center
          label for="interhome_booking_adults"
            | Adults
          input#interhome_booking_adults.form-control type="number" name="interhome_booking[adults]" value="#{@interhome_booking.adults}"
        br
        .display-flex.content-space-between.align-center
          label for="interhome_booking_children"
            | Children (3-12 years)
          input#interhome_booking_children.form-control type="number" name="interhome_booking[children]" value="#{@interhome_booking.children}"
        br
        .display-flex.content-space-between.align-center
          label for="interhome_booking_babies"
            | Infants (0-2 years)
          input#interhome_booking_babies.form-control type="number" name="interhome_booking[babies]" value="#{@interhome_booking.babies}"
        br
        br
        #check_avl_price.display-flex.content-center
          a.button.action-button onclick="submit(''); return false;"
            | Check Availability & Price
    .well style="display: none;"
      input type="hidden" name="permalink" value="#{@accommodation.permalink}"
      span.trigger-update
        .form-group
          label Check-in date
          .row
            .col-xs-4
              = select('interhome_booking', 'arrival_month', booking_months, {}, class: 'form-control')
            .col-xs-3
              span#day-of-month
                = select('interhome_booking', 'arrival_day', booking_days(@interhome_booking.arrival_date.month, @interhome_booking.arrival_date.year), {}, class: 'form-control')
      .trigger-update
        .form-group
          label Duration of stay
          .row
            .col-xs-3
              span#booking-durations
                = render partial: 'booking_durations', locals: {nights: [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28]}
    #booking_results
      #quote
