<% unless flash[:errors].blank? -%>
<ul>
<% flash[:errors].each do |error| -%>
  <li><%= error %></li>
<% end -%>
</ul>
<% end -%>

<%= form_tag import_properties_path, :multipart => true do %>
  <div class="field">
    <label for="file">ZIP file</label> <%= file_field_tag 'file' %>
  </div>
  <div class="field">
    <%= submit_tag 'Upload and Import' %>
  </div>
<% end %>
