- unless @property.image.nil?
  .header-image.layout-element.size-1of1
    = image_tag(@property.image.sized_url(620, :width), alt: "Photo of #{@property.name}")

= render partial: 'directory_adverts/banners', object: DirectoryAdvert.small_banners_for(@property.resort)
