<div id="admin_bar">
  <ul>
    <li><%= link_to 'Coupons', coupons_path %></li>
    <li><%= link_to 'Orders', orders_path %></li>
    <li><%= link_to 'Resorts', resorts_path %></li>
    <li><%= link_to 'Users', users_path %></li>
  </ul>
</div>
