  <div style="width: 292px; margin: 0 auto;">
    <div class="fb-like-box" data-href="http://www.facebook.com/MyChaletFinder" data-width="292" data-colorscheme="light" data-show-faces="false" data-stream="false" data-header="false"></div>
  </div>
