<% num = @featured_properties.count -%>
<script>
$(document).ready(function() {
  $('.carousel').carousel();
});
</script>
<div id="featured_properties" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <ul class="thumbnails">
        <%= featured_properties(@featured_properties[0..(num/3 -1)]) %>
      </ul>
    </div>
    <div class="item">
      <ul class="thumbnails">
        <%= featured_properties(@featured_properties[(num/3)..(num * 2/3 - 1)]) %>
      </ul>
    </div>
    <div class="item">
      <ul class="thumbnails">
        <%= featured_properties(@featured_properties[(num * 2/3)..(num - 1)]) %>
      </ul>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#featured_properties" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#featured_properties" data-slide="next">&rsaquo;</a>
</div>
