<% unless @featured_properties.empty? -%>
<% num = @featured_properties.count -%>
<script>
$(document).ready(function() {
  $('.carousel').carousel();
});
</script>
<div id="featured-properties" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <div class="clear-fix">
        <%= featured_properties(@featured_properties[0..(num/3 -1)]) %>
      </div>
    </div>
    <div class="item">
      <div class="clear-fix">
        <%= featured_properties(@featured_properties[(num/3)..(num * 2/3 - 1)]) %>
      </div>
    </div>
    <div class="item">
      <div class="clear-fix">
        <%= featured_properties(@featured_properties[(num * 2/3)..(num - 1)]) %>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#featured-properties" data-slide="prev"><span class="fas fa-caret-circle-left"></span></a>
  <a class="carousel-control right" href="#featured-properties" data-slide="next"><span class="fas fa-caret-circle-left"></span></a>
</div>
<% end -%>
