.footer-box.clear-fix
  ul
    li Help
    li= link_to I18n.t(:privacy), privacy_path
    li= link_to I18n.t(:terms), terms_path
    li= link_to I18n.t(:contact), contact_path
    li
      a href="/pages/resources" Resources
    - if @w.blog_visible?
      li= link_to t('blog_posts_controller.blog'), blog_path, rel: 'nofollow'
    li
      a#advertise_link href="/welcome/advertiser"= t('advertise')
    li
      a#blogger title="Blogger" href="http://mychaletfinder.blogspot.com"
        i.icon-rss
        =< "Blogger"
    li
      a#twitter title="Twitter" href="https://twitter.com/#!/MyChaletFinder"
        i.icon-twitter
        =< "Twitter"
    li
      a#facebook title="Facebook" href="http://www.facebook.com/MyChaletFinder"
        i.icon-facebook
        =< "Facebook"
  = raw @footer_box
