  <title><%= @page_title ? @page_title + " - My Chalet Finder" : "My Chalet Finder" %></title>
<% unless @meta_description.blank? -%>
  <meta name="description" content="<%= @meta_description %>">
<% end -%>
