  <div id="social">
    <a id="blogger" title="Blogger" href="http://mychaletfinder.blogspot.com"></a>
    <a id="twitter" title="Twitter" href="https://twitter.com/#!/MyChaletFinder"></a>
    <a id="facebook" title="Facebook" href="http://www.facebook.com/MyChaletFinder"></a>
  </div>
