<ol id="steps" class="active_step_<%= step %>">
  <li id="step_1">
    <span>Step 1</span>
    Account type
  </li>
  <li id="step_2">
    <span>Step 2</span>
    Your details
  </li>
  <li id="step_3">
    <span>Step 3</span>
    Advert type
  </li>
  <li id="step_4">
    <span>Step 4</span>
    Advert details
  </li>
  <li id="step_5">
    <span>Step 5</span>
    Upload images
  </li>
  <li id="step_6">
    <span>Step 6</span>
    Basket
  </li>
  <li id="step_7">
    <span>Step 7</span>
    Checkout
  </li>
  <li id="step_8">
    <span>Step 8</span>
    Receipt
  </li>
</ol>

<%= clear %>
