<ol id="steps" class="active_step_<%= step %>">
  <li id="step_1">
    <span>Step 1</span>
    Registration
  </li>
  <li id="step_4">
    <span>Step 2</span>
    Advert details
  </li>
  <li id="step_6">
    <span>Step 3</span>
    Basket
  </li>
  <li id="step_7">
    <span>Step 4</span>
    Checkout
  </li>
</ol>

<%= clear %>
