javascript:
  $(function() {
    $('.home-datepicker input').pickadate({
      onOpen: function() {
        console.log('Opened up');
        if($('.home-datepicker .help').length == 0) {
          $('.home-datepicker .picker__footer').after('<p class="help">#{t('.help')}</p>');
        }
      }
    });
  });
.date#arrival-datepicker.home-datepicker
  input.form-control type="text" value="#{params[:start_date] ? params[:start_date] : t('.arrival_date')}" name="start_date"
.date#departure-datepicker.home-datepicker
  input.form-control type="text" value="#{params[:end_date] ? params[:end_date] : t('.departure_date')}" name="end_date"
