  <% Country.all(limit: 6, order: 'property_count DESC').each do |country| %>
  <div class="country">
    <h2><%= country %></h2>
    <% Resort.all(limit: 3, order: 'property_count DESC', conditions: { country_id: country.id }).each do |resort| %>
    <div class="resort">
      <h3><%= link_to resort, resort %></h3>
      <p>
        <%= link_to "Accommodation to rent in #{resort}", resort_property_rent_path(resort) %><br>
        <%= link_to "Accommodation for sale in #{resort}", resort_property_sale_path(resort) %><br>
      </p>
    </div>
    <% end %>
  </div>
  <% end %>
