<p>
  Welcome to My Ski Chalet, the holiday portal where you can rent or buy your
  holiday home either direct from the property owner or through one of our
  member companies, making choosing your ski holiday property simpler and
  faster, without having to waste your valuable time searching through dozens
  of websites.
</p>

<p>
  For each resort, we give you an overview of all the facilities including
  piste maps and a local directory of services including childcare and
  babysitters, so that you know where to go as soon as you arrive.
</p>
