<select id="resort_id" name="resort_id">
  <option value="">Choose Resort</option>
<% if @resorts.empty? -%>
  <option value="">Choose Country First &uarr;</option>
<% else -%>
<% @resorts.each do |resort| -%>
  <option value="<%= resort.id %>"><%= resort %></option>
<% end -%>
<% end -%>
</select>
