<select id="resort_slug" name="resort_slug">
  <option value="">Choose Resort</option>
<% if @resorts.empty? -%>
  <option value="">Choose Country First &uarr;</option>
<% else -%>
<% @resorts.each do |resort| -%>
  <option value="<%= resort.slug %>"><%= resort %></option>
<% end -%>
<% end -%>
</select>
