<h1>Style Guide</h1>

<h2>Header Image</h2>

<p>
  The theme class <code>ski-holidays-theme</code> can be omitted to use the
  page's overall holiday type theme.
</p>

<pre>&lt;div class="clear-fix"&gt;
  &lt;div class="ski-holidays-theme size-1of1 layout-element"&gt;
    &lt;div class="header-image"&gt;
      &lt;img alt="Ski holidays" src="/images/chalet.jpg"&gt;
      &lt;p class="header-title"&gt;Ski Holidays Featured Resorts&lt;/p&gt;
      &lt;div class="header-text-cont"&gt;
        &lt;p class="header-text"&gt;
          &lt;span class="theme-color"&gt;Villars Gryon&lt;/span&gt;
          &lt;br&gt;
          Europe's leading summer and winter ski holidays search website
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>

<div class="clear-fix">
  <div class="ski-holidays-theme size-1of1 layout-element">
    <div class="header-image">
      <img alt="Ski holidays" src="/images/chalet.jpg">
      <p class="header-title">Ski Holidays Featured Resorts</p>
      <div class="header-text-cont">
        <p class="header-text"><span class="theme-color">Villars Gryon</span>
          <br>Europe's leading summer and winter ski holidays search website
        </p>
      </div>
    </div>
  </div>
</div>

<h2>Two Columns</h2>

<pre>&lt;div class="clearfix"&gt;
  &lt;div class="size-1of2 layout-element"&gt;
    &lt;p&gt;Column 1&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="size-1of2 layout-element"&gt;
    &lt;p&gt;Column 2&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>

<div class="clearfix">
  <div class="size-1of2 layout-element">
    <p>Column 1</p>
  </div>
  <div class="size-1of2 layout-element">
    <p>Column 2</p>
  </div>
</div>