<h1>Style Guide</h1>

<h2>Header Image</h2>

<p>
  The theme class <code>ski-holidays-theme</code> can be omitted to use the
  page's overall holiday type theme.
</p>

<pre>&lt;div class="clear-fix"&gt;
  &lt;div class="ski-holidays-theme size-1of1 layout-element"&gt;
    &lt;div class="header-image"&gt;
      &lt;img alt="Ski holidays" src="/images/chalet.jpg"&gt;
      &lt;p class="header-title"&gt;Ski Holidays Featured Resorts&lt;/p&gt;
      &lt;div class="header-text-cont"&gt;
        &lt;p class="header-text"&gt;
          &lt;span class="theme-color"&gt;Villars Gryon&lt;/span&gt;
          &lt;br&gt;
          Europe's leading summer and winter ski holidays search website
        &lt;/p&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>

<div class="clear-fix">
  <div class="ski-holidays-theme size-1of1 layout-element">
    <div class="header-image">
      <img alt="Ski holidays" src="/images/chalet.jpg">
      <p class="header-title">Ski Holidays Featured Resorts</p>
      <div class="header-text-cont">
        <p class="header-text"><span class="theme-color">Villars Gryon</span>
          <br>Europe's leading summer and winter ski holidays search website
        </p>
      </div>
    </div>
  </div>
</div>

<h2>Two Columns</h2>

<pre>&lt;div class="clearfix"&gt;
  &lt;div class="size-1of2 layout-element"&gt;
    &lt;p&gt;Column 1&lt;/p&gt;
  &lt;/div&gt;
  &lt;div class="size-1of2 layout-element"&gt;
    &lt;p&gt;Column 2&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</pre>

<div class="clearfix">
  <div class="size-1of2 layout-element">
    <p>Column 1</p>
  </div>
  <div class="size-1of2 layout-element">
    <p>Column 2</p>
  </div>
</div>

<h2>Three Columns with Linked Images</h2>

<pre>&lt;div class="clear-fix"&gt;
  &lt;a class="summer-villas-theme size-1of3 layout-element" href="/holidays/summer-villas"&gt;
    &lt;img alt="Summer Villas" src="/images/img1of3-wide.png"&gt;
    &lt;p class="header-title"&gt;Summer Villas&lt;/p&gt;
    &lt;div class="header-text-cont"&gt;
      &lt;p class="header-text"&gt;From budget to 5-star deluxe in the best regions&lt;/p&gt;
    &lt;/div&gt;
  &lt;/a&gt;

  &lt;a class="city-breaks-theme size-1of3 layout-element" href="/holidays/city-breaks"&gt;
    &lt;img alt="City Breaks" src="/images/img1of3-wide.png"&gt;
    &lt;p class="header-title"&gt;City Breaks&lt;/p&gt;
    &lt;div class="header-text-cont"&gt;
      &lt;p class="header-text"&gt;From budget to 5-star deluxe in the best regions&lt;/p&gt;
    &lt;/div&gt;
  &lt;/a&gt;

  &lt;a class="lakes-and-mountains-theme size-1of3 layout-element" href="/holidays/lakes-and-mountains"&gt;
    &lt;img alt="Lakes &amp; Mountains" src="/images/img1of3-wide.png"&gt;
    &lt;p class="header-title"&gt;Lakes &amp; Mountains&lt;/p&gt;
    &lt;div class="header-text-cont"&gt;
      &lt;p class="header-text"&gt;From budget to 5-star deluxe in the best regions&lt;/p&gt;
    &lt;/div&gt;
  &lt;/a&gt;
&lt;/div&gt;
</pre>

<div class="clear-fix">
  <a class="summer-villas-theme size-1of3 layout-element" href="/holidays/summer-villas">
    <img alt="Summer Villas" src="/images/img1of3-wide.png">
    <p class="header-title">Summer Villas</p>
    <div class="header-text-cont">
      <p class="header-text">From budget to 5-star deluxe in the best regions</p>
    </div>
  </a>

  <a class="city-breaks-theme size-1of3 layout-element" href="/holidays/city-breaks">
    <img alt="City Breaks" src="/images/img1of3-wide.png">
    <p class="header-title">City Breaks</p>
    <div class="header-text-cont">
      <p class="header-text">From budget to 5-star deluxe in the best regions</p>
    </div>
  </a>

  <a class="lakes-and-mountains-theme size-1of3 layout-element" href="/holidays/lakes-and-mountains">
    <img alt="Lakes &amp; Mountains" src="/images/img1of3-wide.png">
    <p class="header-title">Lakes &amp; Mountains</p>
    <div class="header-text-cont">
      <p class="header-text">From budget to 5-star deluxe in the best regions</p>
    </div>
  </a>
</div>
