#airport_transfers {
  float: left;
  width: 756px;
}

.airport_transfer {
  .airport_thumbnail {
    margin-top: 0;
    float: left;
    padding: 0 8px 0 0;
    width: 160px;
    height: 200px;
  }
}
