#content-with-side-banners {
  .first-third, .last-third {
    width: 247px;
  }

  .first-third, .first-third-photo-shadow {
    margin: 8px 8px 0 0;
  }

  .first-third-photo-shadows {
    margin-right: 8px;
  }

  .last-third, .last-third-photo-shadow {
    margin: 8px 0 0 8px;
  }

  .last-third-photo-shadows {
    margin-left: 8px;
  }

  .first-third-photo-shadows div, .last-third-photo-shadows div {
    margin-top: 8px;
  }

  .first-two-thirds, .last-two-thirds {
    width: 518px;
    margin-top: 8px;
  }

  .first-third, .last-two-thirds, .first-two-thirds, .last-third {
    float: left;
    padding: 2px 12px;
  }

  .first-third-photo-shadow, .first-third-photo-shadows, .wide-photo-shadow {
    clear: left;
  }

  .first-third-photo-shadow, .last-third-photo-shadow, .wide-photo-shadow,
  .first-third-photo-shadows div, .last-third-photo-shadows div {
    box-shadow: inset 0 12px 12px -12px #000,
    inset 0 -12px 12px -12px #000;
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;

    p {
      color: #000;
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      right: 8px;
      bottom: 8px;
      margin: 0;
    }

    p.inverted {
      color: #fff;
    }
  }

  .wide-photo-shadow {
    margin: 8px 0;
  }

  .first-third-photo-shadow, .last-third-photo-shadow, .first-third-photo-shadows, .last-third-photo-shadows {
    width: 271px;
    float: left;
  }
}
