#content-with-side-banners {
  width: 821px;
  padding: 0 15px 0 0;
  float: left;

  .first-third, .last-third {
    width: 247px;
  }

  .first-third {
    margin: 8px 8px 0 0;
  }

  .last-third {
    margin: 8px 0 0 8px;
  }

  .first-two-thirds, .last-two-thirds {
    width: 518px;
    margin-top: 8px;
  }

  .first-third, .last-two-thirds, .first-two-thirds, .last-third {
    float: left;
    padding: 2px 12px;
  }

  .first-third-photo-shadow, .wide-photo-shadow {
    clear: left;
  }

  .first-third-photo-shadow, .last-third-photo-shadow, .wide-photo-shadow {
    box-shadow: inset 0 12px 12px -12px #000,
    inset 0 -12px 12px -12px #000;
    position: relative;
    background-color: #fff;
    background-repeat: no-repeat;

    p {
      color: #000;
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      right: 8px;
      bottom: 8px;
      margin: 0;
    }

    p.inverted {
      color: #fff;
    }
  }

  .wide-photo-shadow {
    margin: 8px 0;
  }

  .first-third-photo-shadow, .last-third-photo-shadow {
    width: 271px;
    float: left;
  }

  .first-third-photo-shadow {
    margin: 8px 8px 0 0;
  }

  .last-third-photo-shadow {
    margin: 8px 0 0 8px;
  }

  section h2.coloured {
    font-size:36px;
    font-weight:normal;
    font-style: normal;
    color:#525c66;
    letter-spacing: -3px;
  }
}

#side-banners {
  float: left;
  padding-top: 13px;
  width: 160px;

  a {
    margin-bottom: 13px;
    display: block;
  }
}
