#content-with-side-banners {
  width: 821px;
  padding: 0 15px 0 0;
  float: left;
}

#side-banners {
  float: left;
  padding-top: 13px;
  width: 160px;

  a {
    margin-bottom: 13px;
    display: block;
  }
}
