$shade: #8ed8f8;

.directory-advert-summaries {
  list-style: none;
  margin: 0;

  background-image: url(/images/property-summary-bg.png);
  background-position: right top;
  background-repeat: repeat-y;

  background-image: linear-gradient(left , rgb(255,255,255) 20%, $shade 100%);
  background-image: -o-linear-gradient(left , rgb(255,255,255) 20%, $shade 100%);
  background-image: -moz-linear-gradient(left , rgb(255,255,255) 20%, $shade 100%);
  background-image: -webkit-linear-gradient(left , rgb(255,255,255) 20%, $shade 100%);
  background-image: -ms-linear-gradient(left , rgb(255,255,255) 20%, $shade 100%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	right bottom,
  	color-stop(0.2, rgb(255,255,255)),
  	color-stop(1, $shade)
  );
  border-bottom: 1px solid #68c8e7;
  padding: 6px 8px 0 12px;

  li {
    padding: 12px 0;
  }

  div {
    float: left;
  }

  h3 {
    line-height: 22px;
  }

  .business-name {
    padding-right: 20px;
    width: 320px;
  }

  .contact-details {
    padding-right: 20px;
    width: 320px;

    h3 {
      font-size: 16px;
      line-height: 16px;
      margin-top: 16px;
    }
  }

  .logo-space {
    width: 120px;
  }

  .more-info {
    padding-top: 39px;

    div {
      padding-top: 4px;
      float: none;
    }

    .btn {
      width: 110px;
      text-align: right;
    }
  }

  .user_logo {
    float: left;
  }
}
