#featured-properties {
  margin: 10px 0;

  img {
    width: 200px;
    height: 163px;
  }

  .carousel-control {
    color: #fff;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }

  .carousel-control:hover {
    color: #fff;
    text-decoration: none;
  }
}

.wide #featured-properties img {
  width: 258px;
  height: 210px;
}
