.rg-image-wrapper {
  position: relative;
  background: transparent url(/assets/image-gallery/black.png) repeat top left;
  min-height: 20px;
}

.rg-image {
  position: relative;
  text-align: center;
  line-height: 0px;
}

.rg-image img {
  max-height: 700px;
  width: 100%;
}

.rg-image-nav {
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 99;

	> div {
		position: relative;
	}
}

.rg-image-nav a {
  position: absolute;
  top: 50%;
  left: 0px;
  background: url(/assets/image-gallery/nav.png) no-repeat -20% 50%;
  width: 28px;
  text-indent: -9000px;
  cursor: pointer;
  outline: none;
}

.rg-image-nav a.rg-image-nav-next {
  right: 0px;
  left: auto;
  background-position: 115% 50%;
}

.rg-image-nav a:hover {
  opacity: 0.8;
}

.rg-caption {
  text-align: center;
	position: relative;
	background: rgba(0, 47, 102, 0.8);
	display: flex;
	padding: 0 20px;
	justify-content: space-between;

	&-wrapper {
		position: absolute;
    bottom: 0;
    width: 100%;
	}
}

.rg-caption p {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 16px;
	padding: 7px 0;
	color: white;
}

.rg-view {
  height: 30px;
}

.rg-view a {
  display: block;
  float: right;
  width: 16px;
  height: 16px;
  margin-right: 3px;
  background: #464646 url(/assets/image-gallery/views.png) no-repeat top left;
  border: 3px solid #464646;
  opacity: 0.8;
}

.rg-view a:hover {
  opacity: 1.0;
}

.rg-view a.rg-view-full {
  background-position: 0px 0px;
}

.rg-view a.rg-view-selected {
  background-color: #6f6f6f;
  border-color: #6f6f6f;
}

.rg-view a.rg-view-thumbs {
  background-position: 0px -16px;
}

.rg-loading {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 50%;
  left: 50%;
  background: #000 url(/assets/image-gallery/ajax-loader.gif) no-repeat center center;
  margin: -23px 0px 0px -23px;
  z-index: 100;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  opacity: 0.7;
}

.rg-gallery {
  display: flex;
  flex-direction: column;

  .rg-thumbs {
    order: 2;
  }

  .rg-image-wrapper {
    order: 1;
  }
}
