.interhome-calendar {
  border-bottom: 0;
  width: 100%;

  td, th {
    font-size: 12px;
    padding: 3px 4px;
    border: 2px solid #fff;
  }

  td {
    color: #fff;
    text-align: right;
  }

  th {
    background: #333;
    color: #fff;
  }

  td.empty {
    background: #fff;
  }

  td.availability-N, td.availability-unknown {
    background: red;
  }

  td.availability-Y {
    background: green;
    text-decoration: underline;
    cursor: pointer;
  }

  td.availability-Y-no-check-in {
    background: limegreen;
  }

  td.availability-Q {
    background: orange;
    cursor: pointer;
    text-decoration: underline;
  }
}

.month {
  width: 33%;
  float: left;
  margin: 6px 0.3% 0 0;
}
