.links {
  margin: 5vh 15vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  section {
    border: 1px solid #d6d6d6;

    h2 {
      color: #fff;
      background: #606a70;
      font-size: 1rem;
      margin: 0;
      padding: 0.5rem;
    }
  }
}
