html[lang=de] {
  #boxes .box {
    height: 450px;
  }

  div#intro {
    width: 650px;
  }
}

html[lang=fr] {
  #boxes .box {
    height: 450px;
  }

  div#intro {
    width: 650px;
  }
}

html[lang=it] {
  #boxes .box {
    height: 450px;
  }

  div#intro {
    width: 550px;
  }
}
