.clearfix {
	display: block;
	min-height: 1%;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.main-menu {
  ol, ul {
  	list-style: none;
  }

  border-bottom: 1px solid #f2f3f3;

  > ul {
    padding: 0 15px;
    display: flex;

    > li {
      width: 100%;
      position: relative;
      box-sizing: border-box;
      padding: 0 !important;

      &+li {
        border-left: 2px solid #f2f3f3;
      }

      button {
        border: none;
        width: 100%;
        &:active {
          outline: none;
        }
      }

      button, a {
        display: block;
        background: #fff url('/assets/icon_arrow_down.png') no-repeat scroll right 30px center;
        font-size: 16px;
        font-weight: 500;
        padding: 20px 0 20px 15px;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: 768px) {

    >ul {
      padding: 0 !important;
      display: block;
      > li {
        display: block;
        clear: both;
        border-left: none !important;
        border-bottom: 1px solid #ececec;

        &:last-of-type {
          border-bottom: none;
        }
      }
    }
  }

  &-item-links {

    display: none;
    position: absolute;
    top: 68px;
    left: 4%;
    background: #fff;
    padding: 12px 0 0 !important;
    box-shadow: 0 0 17px -7px #000;
    z-index: 99;
    border-radius: 3px;
    min-width: 200px;

    li {
      width: 100% !important;

      a {
        padding: 12px 22px !important;
        background: none !important;

        &:hover {
          background: #f2f2f2 !important;
        }
      }

      &:last-child a {
        background: #606a70 url('/assets/more.png') no-repeat scroll right 17px center !important;
        color: #fff !important;
        padding: 15px 22px !important;
        box-sizing: border-box;
        border-top: 2px solid #f2f3f3;
        position: relative;

        svg {
          position: absolute;
          right: 22px;
        }
      }
    }

    &::before {
      position: absolute;
      content: '';
      left: 50%;
      top: -8px;
      margin: 0 0 0 -9px;
      background: url('/assets/icon_arrow_up.png') no-repeat scroll 0 0;
      height: 10px;
      width: 18px;
    }

    @media screen and (max-width: 768px) {
      position: unset;
      box-shadow: none;
      padding: 0 !important;
      width: 100%;

      &::before {
        display: none;
      }

      li {
        border-top: 1px solid #ececec !important;
      }
    }

  }
}
