$shade: #8ed8f8;

.property-summary {
  clear: both;
  margin-bottom: 10px;

  .price span {
    font-size: 30px;
    color: #0069AF;
    margin-bottom: 10px;
    line-height: 30px;
  }
}

.property-summary h3 {
  background-color: #0069af;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 10px 0;
  padding: 8px 10px;
}

.property-summary h3 a {
  color: #fff;
  text-decoration: none;
}

.property-summary p.strapline {
  margin: 0.5em 0;
}

.property-thumbnail, .size-1of4 {
  float: left;
  margin: 0;
  min-height: 149px;
  width: 149px;
}

.property-thumbnail {
  overflow: hidden;

  span {
    display: block;
    margin-left: -175px; /* - (1/2 width - 1/2 of 149) */
    text-align: center;
    width: 500px; /* sufficiently wide */
  }
}

#content-with-side-banners .property-thumbnail img {
  max-height: 165px;
}

.property-summary-description {
  float: left;
  margin-left: 8px;
  width: 463px;

  .strapline {
    float: left;
    width: 335px;
  }

  .actions {
    float: right;
    width: 120px;
  }

  .price {
    color: #999;
    text-transform: lowercase;
  }
}

.btn-property {
  background-color: #0069af;
  color: #ededed;
  line-height: 30px;
  margin: 0 0 5px 0;
  padding: 0px 10px 0 15px;

  a {
    border: none;
    color: #ededed!important;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    min-height: 30px;
    min-width: 85px;
    font-family: inherit;
    vertical-align: middle;
    text-align: left;
    text-decoration: none!important;
    width: 85px;
  }
}
