.properties-view {
  display: block;

  @media screen and (min-width: 1200px) {
    display: flex;

    &>div:last-of-type {
      margin-right: 20px;
    }
  }
}

.results-count {
  display: flex;
  justify-content: space-between;
  padding: 1rem 10px;
  color: black;
  font-weight: bold;
}

.properties-container {
  margin-bottom: 24px;

  @media screen and (min-width: 1200px) {
    width: 60%;
  }
}

.properties-map {
  margin: 1rem 0;
  min-height: 600px;
  max-height: 2000px;
  order: 2;

  @media screen and (min-width: 1200px) {
    width: 40%;
    margin-bottom: 0;
  }
}

.property-summaries {
  display: flex;
  flex-wrap: wrap;
}

.property-summary {
  box-sizing: border-box;
  border: 1px solid #f2f2f2;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 10px;
  flex-basis: 100%;

  img {
    width: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .actions {
    a {
      display: block;
    }

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 968px) {
    flex-basis: 49%;

    &:nth-of-type(2n) {
      margin-left: 1%;
    }

    &:nth-of-type(2n - 1) {
      margin-right: 1%;
    }
  }
}

.property-thumbnail {
  margin: 0;
}

.property-summary-description {
  padding: 0.5rem;
  text-align: center;
  a {
    text-decoration: none;
    h3 {
      color: #005e9c;
      transition: .4s ease;
      margin: 0;
    }
    &:hover h3{
      color: rgba(0, 95, 155, 0.5)
    }
  }
  p {
    color: #000;
    font-weight: normal;
  }
}
