#quick-search, #search-options {
  select, span {
    margin-bottom: 3px;
  }

  p {
    text-align: right;
    padding-right: 2px;
  }

  #arrival-datepicker {
    margin-bottom: 10px;
  }

  #arrival-datepicker input {
    font-size: 11px;
    display: inline-block;
  }

  .checkbox {
    color: #fff;
    font-weight: normal;
    padding-left: 30px;
  }
}

#links-and-search {
  #quick-search, #search-options {
    .form-control {
      height: 32px;
    }
  }

  #arrival-datepicker input {
    width: 115px;
  }
}
