html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background: #fff;
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

body {
  color: #8c8a8b;
}

h1, h2, h3, p, input, button, select, textarea, b, strong, label {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

h1 {
  color: #005e9c;
  font-weight: normal;
}

h2 {
  font-size: 1.25rem;
  color: #000000;
}

h3 {
  color: #231f20;
  text-transform: uppercase;
  font-size: 1.3rem;
}

a, button {
  font-weight: bold;
  color: #8c8a8b;
}

p {
  font-size: 1.125rem;
  margin: 0;
  line-height: 1.65rem;
}

input[type=email],
input[type=number],
input[type=password],
input[type=tel],
input[type=text],
select,
textarea {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
}

img {
  max-width: 100%;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.form-control[readonly].picker__input {
  cursor: default;
  background: #fff;
}

.home-datepicker td + td + td + td + td + td + td .picker__day {
  font-weight: bold;
}

.session {
  ul {
    justify-content: flex-end;
  }
}

.secondary-nav {
  ul {
    display: flex;
    list-style: none;
  }

  a {
    color: #7a7979;
    text-decoration: none;
    padding: 1rem;
    transition: 0.3s;
  }

  a:hover {
    color: #231f20;
  }
}

.page-surround {
  padding: 5vh 5vw;
}

.content-inset {
  margin: 0 5vw;
}

.logo-container {
  position: relative;
  margin-top: 3rem;
}

.logo-marker {
  left: 200px;
  position: absolute;
  top: -33px;
}

.logo img {
  height: 31px;
}

.divider-bar {
  border-top: 4px solid #005e9e;
}

.subhead {
  font-size: 1rem;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .page-surround {
    padding: 5vh 15vw;
  }

  .content-inset {
    margin: 0 15vw;
  }

  .logo-container {
    margin-top: 0;
  }
}
