html, body {
  margin: 0;
  padding: 0;
  background: #fff;
}

article, aside, footer,
header, hgroup, nav, section {
  display: block;
}

body {
  background-color: #fff;
  font-size: 62.5%;
  font-family: "ff-basic-gothic-web-pro-1","ff-basic-gothic-web-pro-2", 'Lucida Sans', Arial, Helvetica, sans-serif;
}

p, input, button, select, textarea {
  font-family: "ff-basic-gothic-web-pro-1","ff-basic-gothic-web-pro-2", 'Lucida Sans', Arial, Helvetica, sans-serif;
}

a {
  color: #00b3f0;
}

a:hover {
  color: #00529c;
}

a img {
  border: none;
}

#wrapper {
  width: 996px;
  margin-left: auto;
  margin-right: auto;
  color: #2b1d24;
  position: relative;
}

#header_images {
  z-index: 1;
  position: absolute;
  top: 25px;
  right: 0;
  width: 996px;
  height: 264px;
  overflow: hidden;
}

#header_images img {
  width: 996px;
  height: 264px;
}

#shade {
  position: absolute;
  z-index: 2;
  opacity: 0.6;
  background: #000;
  width: 996px;
  height: 56px;
}

#logo {
  display: block;
  position: absolute;
  z-index: 3;
  left: 19px;
  top: 40px;
}

/* Display zoomed images above the header */
#zoom {
  z-index: 4;
}

#column_headings {
  margin-top: 264px;
  border-top: 1px solid #68c8e7;
  border-bottom: 1px solid #68c8e7;
}

#column_headings h1 {
  line-height: 30px;
  margin: 0;
}

.field, li, p, td, th {
  font-size: 16px;
  line-height: 1.4em;
}

li p, td li {
  font-size: 1em;
}

td .field {
  font-size: 1em;
}

.field {
  clear: left;
}

.field_left {
  float: left;
  width: 200px;
  line-height: 25px;
  height: 30px;
}

.field_right {
  width: 250px;
  float: left;
  height: 30px;
}

td {
  vertical-align: top;
}

th {
  text-align: left;
}

h1 {
  font-size: 1.6em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

pre {
  font-size: 1.4em;
}

p, div.field {
  margin: 1em 0;
}

footer {
  clear: both;
  padding-top: 8px;
}

footer p {
  border-top: 1px solid #68c8e7;
  padding-top: 8px;
  font-size: 1.2em;
}

footer a {
  color: #000;
}

input[type=email],
input[type=number],
input[type=password],
input[type=text],
select,
textarea {
  font-family: "ff-basic-gothic-web-pro-1","ff-basic-gothic-web-pro-2", 'Lucida Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
}

input[type=number] {
  width: 7em;
}

.placeholder {
  color: #333;
  font-size: 0.9em;
}

textarea {
  width: 36em;
}

#flash_notice {
  background: yellow;
  padding: 6px;
  border-bottom: 1px solid #68C8E7;
  font-size: 1.2em;
  color: #000;
}

.clear {
  font-size: 1px;
  line-height: 1px;
  margin: 0;
  padding: 0;
  clear: both;
}

.table td, .table th {
  font-size: 14px;
}

td.numeric, th.numeric {
  text-align: right;
}

table.grid {
  background: #fff;
  border-collapse: collapse;
  border: 1px solid #ccc;
  clear: left;
}

.grid td, .grid th {
  padding: 0.4em 0.8em;
}

.grid td {
  border-top: 1px solid #ccc;
}

.grid tr:hover {
  background: yellow;
}

#search_options {
  float: left;
  width: 240px;
}

input[type=text] .LV_invalid_field,
input[type=email] .LV_invalid_field {
  border: 1px solid #f00;
}

.LV_validation_message {
  margin-left: 10px;
}

.LV_invalid {
  color: red;
}

.LV_valid {
  color: green;
}

#my_details_summary {
  background: #eee;
  font-size: .8em;
  border-radius: 1em;
  border: 1px solid #ccc;
  padding: 10px;
}

textarea#description {
  width: 20em;
  height: 10em;
}

textarea#directory_advert_business_address {
  height: 5em;
  width: 20em;
}

textarea#directory_advert_strapline {
  width: 20em;
  height: 4em;
}

textarea#directory_advert_description {
  height: 8em;
  width: 20em;
}

textarea#directory_advert_opening_hours {
  width: 20em;
  height: 5em;
}

input#property_weekly_rent_price, input#property_sale_price {
  width: 5em;
}

textarea#property_address {
  height: 5em;
}

textarea#property_strapline {
  height: 5em;
}

textarea#property_description {
  height: 32em;
}

input#property_postcode {
  width: 10em;
}

#panel_1, #panel_2 {
  width: 493px;
  float: left;
}

#panel_2 {
  margin-left: 10px;
}

#user_panel_1, #user_panel_2, #user_panel_3 {
  width: 332px;
  float: left;
}

#user_panel_2 p {
  font-size: 2em;
  text-align: center;
  padding-top: 2em;
}

#user_panel_1 .group_panel, #user_panel_3 .group_panel {
  height: 260px;
}

.group_panel {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #eee;
  margin: 1em 0;
  padding: 0.5em 1em;
}

.group_panel table {
  width: 100%;
}

.edit_property .group_panel table td {
  width: 50%;
}

.km {
  font-size: 0.8em;
  padding-left: 0.2em;
}

div.field_with_errors {
  display: inline;
}

.field_with_errors input[type=password],
.field_with_errors input[type=text] {
  border: 1px solid red;
}

.required {
  font-weight: bold;
  color: red;
}

p.image_right {
  float: right;
  margin: 0 0 10px 15px;
}

p.image_left {
  float: left;
  margin: 0 15px 10px 0;
}

p.image_centre, p.image_center {
  text-align: center;
}

table#resort_facts, table.chat {
  clear: both;
  margin: 20px auto;
  border-collapse: collapse;
  border-top: 1px solid #00aeef;
  border-bottom: 1px solid #00aeef;
  background-image: url(/images/features-bg.png);
  background-position: right 0;
  background-repeat: repeat-y;
}

table.chat {
  margin: 20px 0;
  width: 600px;;
}

#resort_facts {
  td {
    width: 15.666%;
  }

  th {
    width: 17.666%;
  }
}

#resort_facts td, #resort_facts th, .chat td, .chat th {
  padding: 3px 6px;
}

.tick {
  color: green;
}

.cross {
  color: red;
}

.warning {
  width: 50%;
  margin: 3em auto;
  border: 1px solid #68C8E7;
  background: #f3f7f8;
  padding: 1em;
}

p.chunky_button {
  float: left;
  margin-right: 12px;
}

p.advertise_now {
  float: right;
  margin-right: 0;
  margin-left: 12px;
}

.chunky_button a {
  text-decoration: none;
  color: #fff;
  background: #00b3f0;
  background-image: url(/images/chunky-button-arrow.png);
  background-repeat: no-repeat;
  background-position: 6px 20px;
  font-size: 1em;
  border: 2px solid #00529c;
  display: block;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  text-transform: lowercase;
  text-align: right;
  padding: 14px 5px 5px 7px;
  width: 100px;
}

.user_logo {
  float: right;
  padding: 3px;
  background: #fff;
  border: 1px solid #eee;
  margin-left: 6px;
}

.user_logo img {
  display: block;
}

/**
 * Enquiry form
 */

textarea#enquiry_comments {
  width: 18em;
  height: 4em;
}

/**
 * CMS
 */

.cms {
  float: left;
  width: 736px;
}

iframe {
  border: none;
}

#weather_code {
  margin-top: 20px;
}

#gallery_thumbnails a {
  float: left;
  padding: 2px;
  height: 160px;
  width: 160px;
  margin: 4px;
  border: 1px solid #ccc;
  display: table-cell;
  vertical-align: middle;
}

#gallery_thumbnails img {
  display: block;
  margin: auto;
}

.featured_property {
  width: 160px;
  background-image: url(/images/property-summary-bg.png);
  background-position: right top;
  background-repeat: repeat-y;
  border-bottom: 1px solid #68c8e7;
  padding: 6px 8px 0 8px;
  text-align: center;
  margin: 6px 12px 6px 0;
  float: left;

  h2 {
    margin: 0.2em 0;
  }

  h3 {
    margin: 0.2em 0;
    font-weight: normal;
    font-size: 1.5em;

    a {
      color: #00aeef;
      text-decoration: none;
    }
  }

  .thumbnail {
    margin-top: 0;
    height: 90px;
    overflow: hidden;
  }

  .price {
    margin-top: 0;
    font-size: 1.2em;

    span {
      font-size: 1.4em;
    }
  }
}

#airport-distances {
  float: right;
  margin-left: 15px;
  margin-bottom: 15px;
  width: 40%;
}

label.filter input {
  display: inline;
}

#column_headings {
  nav {
    padding-top: 10px;
  }

  .btn-group {
    float: left;
  }
}

#column_headings h1, .nav-pills {
  clear: left;
}

.nav-pills li {
  font-size: 1.4em;
}
