#tabs.default-tabs {
  width: 100%;
  padding: 0 10px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  > li {
    list-style:none;
    border:1px solid #ededee;
    border-radius: 3px;
    margin-right:25px;
    cursor: pointer;
    a {
      padding: 12px 35px;
      display:block;
      color: #231f20;
      background: #ededee;
      font-size: 14px;
      transition: ease .5s;
    }
  }
}

#tabs a.inactive {
  background: #fff;
}

#tabs li > a:hover, #tabs li > a.inactive:hover {
  opacity: .6;
}

.tab-container {
  padding: 24px 0;
}
