#main-menu li.ski-holidays a:hover {
  border-bottom-color: #009fe3;
}

.ski-holidays > .mega-menu, .ski-holidays-theme .btn-property, .ski-holidays-theme .btn-primary {
  background-color: #009fe3;
}

.ski-holidays-theme h2,
.ski-holidays-theme #features,
.ski-holidays-theme #features p.divider {
  border-color: #009fe3;
}

#main-menu li.lakes-and-mountains a:hover {
  border-bottom-color: #008d36;
}

.lakes-and-mountains > .mega-menu, .lakes-and-mountains-theme .btn-property, .lakes-and-mountains-theme .btn-primary {
  background-color: #008d36;
}

.lakes-and-mountains-theme h2,
.lakes-and-mountains-theme #features,
.lakes-and-mountains-theme #features p.divider {
  border-color: #008d36;
}


#main-menu li.summer-villas a:hover {
  border-bottom-color: #f9b233;
}

.summer-villas > .mega-menu, .summer-villas-theme .btn-property, .summer-villas-theme .btn-primary {
  background-color: #f9b233;
}

.summer-villas-theme h2,
.summer-villas-theme #features,
.summer-villas-theme #features p.divider {
  border-color: #f9b233;
}

#main-menu li.city-breaks a:hover {
  border-bottom-color: #e6332a;
}

.city-breaks > .mega-menu, .city-breaks-theme .btn-property, .city-breaks-theme .btn-primary {
  background-color: #e6332a;
}

.city-breaks-theme h2,
.city-breaks-theme #features,
.city-breaks-theme #features p.divider {
  border-color: #e6332a;
}

.ski-holidays-theme #links-and-search section, .ski-holidays-theme .header-title, .ski-holidays-theme h3, .ski-holidays-theme .btnDefault, .ski-holidays-theme table.theme-table tr th {
  background-color:#009fe3;
}

.ski-holidays-theme > .header-title {
  background-color:#009fe3!important;
}

.ski-holidays-theme #links-and-search section ul li a,
.ski-holidays-theme #features {
  background-color:#b2e2f7;
}

.ski-holidays-theme .theme-color, .ski-holidays-theme a, .ski-holidays-theme .price {
  color:#009fe3;
}

.ski-holidays-theme table.theme-table {
  border-bottom-color:#009fe3;
  background-color:#ccecf9;
}

.lakes-and-mountains-theme #links-and-search section, .lakes-and-mountains-theme .header-title, .lakes-and-mountains-theme h3, .lakes-and-mountains-theme .btnDefault, .lakes-and-mountains-theme table.theme-table tr th {
  background-color:#008D36;
}

.lakes-and-mountains-theme > .header-title {
  background-color:#008D36!important;
}

.lakes-and-mountains-theme #links-and-search section ul li a,
.lakes-and-mountains-theme #features {
  background-color:#b4f4cc;
}

.lakes-and-mountains-theme .theme-color, .lakes-and-mountains-theme a, .lakes-and-mountains-theme .price {
  color:#008D36;
}

.lakes-and-mountains-theme table.theme-table {
  border-bottom-color:#008D36;
  background-color:#cdf9de;
}

.summer-villas-theme #links-and-search section, .summer-villas-theme .header-title, .summer-villas-theme h3, .summer-villas-theme .btnDefault, .summer-villas-theme table.theme-table tr th {
  background-color:#F9B233;
}

.summer-villas-theme > .header-title {
  background-color:#F9B233!important;
}

.summer-villas-theme #links-and-search section ul li a,
.summer-villas-theme #features {
  background-color:#f6dfb6;
}

.summer-villas-theme .theme-color, .summer-villas-theme a, .summer-villas-theme .price {
  color:#F9B233;
}

.summer-villas-theme table.theme-table {
  border-bottom-color:#F9B233;
  background-color:#f9e9cc;
}

.city-breaks-theme #links-and-search section, .city-breaks-theme .header-title, .city-breaks-theme h3, .city-breaks-theme .btnDefault, .city-breaks-theme table.theme-table tr th {
  background-color:#E6332A;
}

.city-breaks-theme > .header-title {
  background-color:#E6332A!important;
}

.city-breaks-theme #links-and-search section ul li a,
.city-breaks-theme #features {
  background-color:#f7b2b2;
}

.city-breaks-theme .theme-color, .city-breaks-theme a, .city-breaks-theme .price {
  color:#E6332A;
}

.city-breaks-theme table.theme-table {
  border-bottom-color:#E6332A;
  background-color:#f9cecc;
}

.btn-primary, .btn-danger {
  border: none;
  color: #fff !important;
}
