<h1>Orders</h1>
<table>
  <thead>
    <tr>
      <th>Order number</th>
      <th>Placed</th>
      <th>Total</th>
      <th>User</th>
    </tr>
  </thead>
  <tbody>
<% @orders.each do |order| %>
    <tr>
      <td><%= link_to order.order_number, order %></td>
      <td><%= order.created_at %></td>
      <td class="numeric price"><%= euros_from_cents(order.total) %></td>
      <td><%= link_to order.user, order.user %></td>
    </tr>
<% end %>
  </tbody>
</table>
