<%= render 'users/advertising_options' %>
<%= render partial: 'shared/steps', locals: { step: 7 } %>
<p>
  Go to <%= link_to t('receipts'), receipts_orders_path %>
</p>
<% if @order.payment_received? -%>
<h1>Receipt</h1>
<% else -%>
<h1>Details of your order</h1>
<% end -%>

<%= render partial: 'order_details' %>
