<div class="page-header">
  <h1><%= link_to 'CMS', cms_path %> &rarr; Export Data</h1>
</div>

<h2>Export to Spreadsheet</h2>

<p>Select a class below to export its table contents from the database.</p>

<ul>
<% @classes.each do |c| %>
  <li><%= link_to c, export_spreadsheet_path(c) %></li>
<% end %>
</ul>
