<script>
function prepareForm() {
  $('no_ajax').hide();
  <%= remote_function :url => { :action => 'current_time' } %>
}
Event.observe(window, 'load', prepareForm);
</script>

<p id="no_ajax">You need to have Javascript switched on to use this form</p>
