<h1>Basket</h1>

<% if @adverts.empty? %>
  <p>Your basket is empty.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Months</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
    <% @adverts.each do |advert| %>
      <tr>
        <td><%= advert %></td>
        <td><%= advert.months %></td>
        <td><%= euros_from_cents advert.price(@current_user.property_adverts_so_far) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
