<div class="page-header">
  <h1><%= link_to 'CMS', cms_path %> &rarr; Roles</h1>
</div>

<p>
  <%= link_to 'Add new role', new_admin_role_path, class: 'btn btn-secondary' %>
</p>

<ul>
<% @roles.each do |role| %>
  <li><%= link_to role.name, edit_admin_role_path(role) %></li>
<% end %>
</ul>
