<div id="content_with_wide_skyscrapers">

<%= raw @country.info %>

<% unless @featured_properties.empty? -%>
<h2><%= t('featured_accommodation') %></h2>

<%= render 'shared/featured_properties' %>

<% end -%>
</div>
<div id="wide_skyscrapers">
  <%= render partial: 'directory_adverts/banners', object: [] %>
</div>
