<div id="content-with-side-banners">
  <% featured_properties = @featured_properties.empty? ? '' : render('shared/featured_properties') %>
  <%= raw Liquid::Template.parse(@country.info).render('featured_properties' => featured_properties) %>
</div>
<div id="side-banners">
  <%= render partial: 'directory_adverts/banners', object: [] %>
</div>
