<div id="content_with_wide_skyscrapers">
  <% featured_properties = @featured_properties.empty? ? '' : render('shared/featured_properties') %>
  <%= raw Liquid::Template.parse(@country.info).render('featured_properties' => featured_properties) %>
</div>
<div id="wide_skyscrapers">
  <%= render partial: 'directory_adverts/banners', object: [] %>
</div>
