article.blog_post {
  padding: 0 140px;

  h1, h2 {
    font-family: Georgia, serif;
    text-transform: none;
  }

  h1 {
    font-size: 3.2em;
  }

  h2 {
    font-size: 2.4em;
  }

  h2, h3 {
    color: #3cf;
  }

  h3 {
    font-size: 1.6em;
    text-transform: uppercase;
  }

  p, li {
    color: #333;
    font-size: 1.6em;
    line-height: 1.4em;
  }
}
