nav {
  display: block;
}

#main_menu {
  background-color: #005CAB;
  background-position: right top;
  background-repeat: no-repeat;
  height: 24px;
  border-bottom: 1px solid #fff;
}

#main_menu ul {
  margin: 0;
  padding: 3px 0;
  list-style: none;
  height: 18px;
}

#main_menu li {
  font-size: 1.1em;
  text-transform: uppercase;
  float: right;
  margin-right: 1px;
}

#main_menu a {
  display: block;
  line-height: 18px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-left: 1px solid #fff;
  padding: 0 20px;
  width: auto;
}

#main_menu #featured_resorts_link,
#main_menu #advertise_link {
  padding: 0;
  width: 140px;
}

#main_menu a:hover {
  text-decoration: underline;
}

#main_menu .drop {
  border-top: 1px solid #fff;
  visibility: hidden;
  position: absolute;
  width: 140px;
  text-align: center;
  font-size: 1em;
  text-transform: none;
  margin-left: 2px;
  margin-top: 3px;
  z-index: 10;
}

#main_menu .drop a {
  line-height: 24px;
  border: none;
  background: #222;
  opacity: 0.9;
  color: #fff;
  text-decoration: none;
  display: block;
}

#main_menu .drop a:hover {
  background: #222;
  opacity: 1;
  color: #fff;
  text-decoration: underline;
}

.count {
  color: #fff;
  background: #f00;
  border-radius: 20px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  padding: 3px 6px;
  height: 18px;
  font-size: 11px;
  position: relative;
  vertical-align: baseline;
  top: -2px;
  line-height: 1px;
  font-weight: bold;
}
