html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-size: 62.5%;
  font-family: "anivers-1","anivers-2", 'Lucida Sans', Arial, Helvetica, sans-serif;
}

a img {
  border: none;
}

#wrapper {
  background: #fff;
  background-image: url(/images/ski-group-mountain.jpg);
  background-position: right top;
  background-repeat: no-repeat;
  width: 996px;
  margin-left: auto;
  margin-right: auto;
  color: #2b1d24;
  position: relative;
}

#logo {
  margin-left: 4px;
  margin-top: 35px;
  margin-bottom: 197px;
  display: block;
}

#column_headings {
  height: 20px;
  border-bottom: 1px solid #68c8e7;
}

.browse_menu #content {
  width: 554px;
  float: left;
}

#content_with_wide_skyscrapers {
  width: 330px;
  float: left;
}

#wide_skyscrapers {
  float: right;
  padding-top: 8px;
}

.field, li, p, td, th {
  font-size: 1.3em;
}

td .field {
  font-size: 1em;
}

.field {
  clear: left;
}

.field_left {
  float: left;
  width: 180px;
  line-height: 25px;
  height: 30px;
}

.field_right {
  width: 250px;
  float: left;
  height: 30px;
}

td {
  vertical-align: top;
}

h1 {
  font-size: 1.4em;
  text-transform: uppercase;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

pre {
  font-size: 1.4em;
}

p, div.field {
  margin: 1em 0;
}

footer {
  clear: left;
  padding-top: 8px;
}

footer p {
  border-top: 1px solid #68c8e7;
  padding-top: 8px;
}

footer a {
  color: #000;
}

input[type=email],
input[type=number],
input[type=password],
input[type=text],
textarea {
  border: 1px solid #0f113e;
  padding: 2px;
  font-family: 'Lucida Sans', Arial, Helvetica, sans-serif;
  font-size: 1em;
  width: 14em;
}

input[type=number] {
  width: 7em;
}

textarea {
  width: 30em;
}

#flash_notice {
  background: #e9edf0;
  padding: 5px;
  border: 1px solid #8ba4c3;
  font-size: 1.2em;
  color: #543e38;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.property_summary {
  width: 367px;
  background-image: url(/images/property-summary-bg.png);
  background-position: right top;
  background-repeat: repeat-y;
  border-bottom: 1px solid #68c8e7;
  padding: 6px 8px 0 12px;
}

.property_summary h3 {
  margin: 0;
  font-weight: normal;
  font-size: 1.5em;
}

.property_summary h3 a {
  color: #00aeef;
  text-decoration: none;
}

.property_summary p.strapline {
  margin: 0.5em 0;
}

.property_summary .features li {
  font-size: 1.1em;
}

.property_summary .thumbnail,
.property_summary .features,
.property_summary .actions {
  margin-top: 0;
  float: left;
  width: 120px;
  padding: 0 8px 0 0;
}

.property_summary .actions {
  width: 100px;
}

.property_summary .price {
  text-align: right;
  margin-top: 0;
  font-size: 1.1em;
}

.property_summary .price span {
  font-size: 1.4em;
}

.property_summary p.contact_owner,
.property_summary p.email_a_friend {
  margin: 0.5em 0;
}

.property_summary .contact_owner a,
.property_summary .email_a_friend a {
  text-decoration: none;
  color: #fff;
  background: #00b3f0;
  background-image: url(/images/tiny-button-arrow.png);
  background-repeat: no-repeat;
  background-position: 4px 6px;
  font-size: 0.9em;
  border: 2px solid #00529c;
  display: block;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  text-transform: lowercase;
  text-align: right;
  padding: 3px 5px;
}

.property_summary .contact_owner a:hover,
.property_summary .email_a_friend a:hover {
  background: #00529c;
}

.clear {
  font-size: 1px;
  line-height: 1px;
  margin: 0;
  padding: 0;
  clear: both;
}

td.numeric {
  text-align: right;
}

table.grid {
  border-collapse: collapse;
  border: 1px solid #ccc;
  clear: left;
}

.grid td, .grid th {
  padding: 0.3em 0.6em;
}

.grid td {
  border-top: 1px solid #ccc;
}

#search_options {
  position: absolute;
  left: 4px;
  top: 160px;
  width: 350px;
}

.filter {
  background: #eee;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 2px 5px 2px 3px;
  margin: 3px;
  display: block;
  float: left;
}

#browse {
  float: left;
  width: 440px;
}

#browse ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul#countries {
  width: 135px;
}

ul#resorts {
  width: 195px;
  background-image: url(/images/resorts-menu-bg.png);
}

#browse #resorts a:hover, #browse #resorts .selected a {
  color: #2ab8e3;
}

ul#countries, ul#resort_options {
  text-transform: uppercase;
}

ul#resort_options {
  width: 110px;
}

#countries li, #resort_options li {
  border-bottom: 1px solid #68c8e7;
}

#browse #countries a:hover, #browse #countries .selected a, #browse #resort_options a:hover {
  color: #043d7c;
}

#browse li {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

#browse a {
  display: block;
  text-decoration: none;
  color: #333;
}

#countries a, #resort_options a {
  background-color: #fff;
  background-image: url(/images/countries-menu-bg.png);
  background-position: right top;
  background-repeat: repeat-y;
  padding: 4px 0px 4px 8px;
}

#resorts a {
  padding: 2px 0px 2px 12px;
}

#browse a:hover, #browse .selected a {
  background-position: right bottom;
  color: #111;
}

.pagination {
  font-size: 1.2em;
  text-align: center;
  padding: .3em;
  margin-top: 1em;
}

.pagination a, .pagination span, .pagination em {
  padding: .2em .5em;
}

.pagination span.disabled {
  color: #AAA;
}

.pagination em {
  font-weight: bold;
  color: #FF0084;
}

.pagination a {
  border: 1px solid #DDDDDD;
  color: #0063DC;
  text-decoration: none;
}

.pagination a:hover, .pagination a:focus {
  border-color: #003366;
  background: #0063DC;
  color: white; }

.pagination .page_info {
  color: #aaa;
  padding-top: .8em;
}

.pagination .previous_page, .pagination .next_page {
  border-width: 2px;
}

.pagination .previous_page {
  margin-right: 1em;
}

.pagination .next_page {
  margin-left: 1em;
}

input[type=text] .LV_invalid_field,
input[type=email] .LV_invalid_field {
  border: 1px solid #f00;
}

.LV_validation_message {
  margin-left: 10px;
}

.LV_invalid {
  color: red;
}

.LV_valid {
  color: green;
}

#my_details_summary {
  background: #eee;
  font-size: .8em;
  border-radius: 1em;
  border: 1px solid #ccc;
  padding: 10px;
}

textarea#description {
  height: 10em;
}

textarea#directory_advert_business_address {
  height: 5em;
  width: 20em;
}

input#property_weekly_rent_price, input#property_sale_price {
  width: 5em;
}

textarea#property_address {
  height: 5em;
}

textarea#property_strapline {
  height: 5em;
}

textarea#property_description {
  height: 32em;
}

#panel_1, #panel_2 {
  width: 455px;
  float: left;
}

#panel_2 {
  margin-left: 10px;
}

.group_panel {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  background: #eee;
  margin: 1em 0;
  padding: 0.5em 1em;
}

.group_panel table {
  width: 100%;
}

.group_panel table td {
  width: 50%;
}

.km {
  font-size: 0.8em;
  padding-left: 0.2em;
}

div.field_with_errors {
  display: inline;
}

.field_with_errors input[type=password],
.field_with_errors input[type=text] {
  border: 1px solid red;
}

.required {
  font-weight: bold;
  color: red;
}

/**
 * Steps
 */

ol#steps {
  list-style: none;
  margin: 0;
  padding: 0;
}

#steps li {
  width: 90px;
  line-height: 18px;
  float: left;
  border: 1px solid #ccc;
  margin-right: 10px;
  padding: 3px;
  font-size: 11px;
}

#steps span {
  display: block;
}

.active_step_1 #step_1,
.active_step_2 #step_2,
.active_step_3 #step_3,
.active_step_4 #step_4,
.active_step_5 #step_5,
.active_step_6 #step_6,
.active_step_7 #step_7,
.active_step_8 #step_8 {
  font-weight: bold;
  border: 1px solid #000;
}

/**
 * CMS
 */

.cms_box {
  display: block;
  text-decoration: none;
  margin: 4px;
  width: 239px;
  height: 100px;
  border: 1px solid #444;
  float: left;
}

.cms_box h2 {
  background: #444;
  margin: 0;
  color: #fff;
  padding: 2px 9px;
}

.cms_box p {
  padding: 9px;
  margin: 0;
  color: #00aeef;
}
