ol#steps {
  width: 520px;
  margin: 10px auto;
  list-style: none;
  padding: 0;
}

#steps li {
  color: #fff;
  width: 96px;
  height: 41px;
  background-image: url(/images/steps.png);
  line-height: 19px;
  float: left;
  padding: 4px 4px 4px 30px;
  font-size: 12px;
}

#steps span {
  display: block;
}

.active_step_1 #step_1,
.active_step_2 #step_2,
.active_step_3 #step_3,
.active_step_4 #step_4,
.active_step_5 #step_5,
.active_step_6 #step_6,
.active_step_7 #step_7,
.active_step_8 #step_8 {
  font-weight: bold;
  background-position: 0 -49px;
}
