<table id="directory_adverts">
  <thead>
    <tr>
      <th><%= t 'business' %></th>
    </tr>
  </thead>
  <tbody>
    <% @directory_adverts.each do |da| %>
    <tr>
      <td><%= link_to da.user.business_name, da %></td>
    </tr>
    <% end %>
  </tbody>
</table>
