<h1><%= @category.name %> in <%= @category.resort.name %></h1>

<table id="directory_adverts">
  <thead>
    <tr>
      <th>Business</th>
    </tr>
  </thead>
  <tbody>
    <% @category.directory_adverts.each do |da| %>
    <tr>
      <td><%= link_to da.user.business_name, da %></td>
    </tr>
    <% end %>
  </tbody>
</table>
