= content_for :theme, @region.theme

= content_for :breadcrumbs_and_heading, breadcrumbs_and_heading(@region.breadcrumbs, t('.heading'))

- unless @page_content.blank?
  = raw Liquid::Template.parse(@page_content).render()
