= content_for :theme, @region.theme

= content_for :breadcrumbs_and_heading, breadcrumbs_and_heading(@region.breadcrumbs, t('.heading'))

= render 'airport_distances/table', airport_distances: @region.airport_distances

= raw Liquid::Template.parse(@page_content).render()
