<div id="content_with_wide_skyscrapers">

<ul id="categories">
  <% @categories.each do |category| %>
  <li><%= link_to t(category.name), show_category_path(category, resort_id: @resort) %></li>
  <% end %>
</ul>

<%= clear %>
</div>
<div id="wide_skyscrapers">
  <%= render partial: 'directory_adverts/banners', object: DirectoryAdvert.small_banners_for(@resort) %>
</div>
