<div id="medium_rectangle">
  <%= render :partial => 'banner_adverts/banners', :object => BannerAdvert.small_banners_for(@resort) %>
</div>

<ul id="categories">
  <% @categories.each do |category| %>
  <li><%= link_to t(category.name), category_path(category, :resort_id => @resort.id) %></li>
  <% end %>
</ul>

<%= clear %>
