<div id="content-with-side-banners">

<ul id="categories">
  <% @categories.each do |category| %>
  <li><%= link_to t(category.name), show_category_path(category, resort_id: @resort) %></li>
  <% end %>
</ul>

<%= clear %>
</div>
<%= render partial: 'directory_adverts/banners', object: DirectoryAdvert.small_banners_for(@resort) %>
