= content_for :theme, @resort.theme

= content_for :breadcrumbs_and_heading, breadcrumbs_and_heading(@resort.breadcrumbs, t('.heading'))

h2= t('resorts_controller.detail.how_to_get_there')
= render 'airport_distances/table', airport_distances: @resort.airport_distances

- unless @page_content.blank?
  = raw Liquid::Template.parse(@page_content).render()
