= content_for :theme, @resort.theme

= content_for :breadcrumbs_and_heading, breadcrumbs_and_heading(@resort.breadcrumbs, t('.heading'))

= content_for :search, render('home/home_search')

- unless @page_content.blank?
  = raw @page_content
