<div id="content-with-side-banners">
<% unless @resort.summer_holidays_in.blank? %>
<% featured_properties = @featured_properties.empty? ? '' : render('shared/featured_properties') %>
<%= raw Liquid::Template.parse(@resort.summer_holidays_in).render('featured_properties' => featured_properties) %>
<% end %>
</div>
<div id="side-banners">
  <%= render partial: 'directory_adverts/banners', object: DirectoryAdvert.small_banners_for(@resort) %>
</div>
