nav {
  display: block;
}

#main-menu > ul {
  list-style: none;
  margin: 98px 0 0 15px;
  padding: 0;
}

#main-menu ul > li {
  float: left;
  margin-right: 2px;
}

#main-menu > ul > li > a {
  background-color: rgba(0, 0, 0, 0.3);
  border-bottom: 4px solid #000;
  color: #ffffff;
  display: inline-block;
  font-size: 12px;
  line-height: 28px;
  min-width: 160px;
  padding: 0 10px;
  text-decoration: none;
}

.mega-menu {
  border-top: 3px solid #fff;
  display: none;
  min-height: 50px;
  width: 646px;
  position: absolute;
  background: #ccc;
  left: 55px;
  z-index: 12;

  ul {
    float: left;
    list-style: none;
    margin-right: 2px;
    padding: 10px;
    width: 160px;

    li {
      width: 140px;

      a {
        color: #fff;
        display: block;
      }
    }
  }

  ul:last-child {
    margin-right: 0;
  }
}

.mega-parent:hover > .mega-menu {
  display: block;
}

.count {
  color: #fff;
  background: #f00;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 3px 6px;
  height: 18px;
  font-size: 12px;
  position: relative;
  vertical-align: baseline;
  top: -2px;
  line-height: 1px;
  font-weight: bold;
}

#session {
  font-size: 0;
  margin-right: 15px;
  text-align: right;

  li {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 4px solid #000000;
    color: #ededed;
    display: inline-block;
    font-size: 12px;
    line-height: 26px;
    margin-left: 5px;
    min-width: 145px;
    text-align: left;

    a {
      color: #ededed;
      display: inline-block;
      margin-right: 2px;
      padding: 0px 15px 0px 10px;
      text-decoration: none;
      width: 110px;
    }
  }
}
