nav {
  display: block;
}

#main-menu {
  background-color: #005CAB;
  background-position: right top;
  background-repeat: no-repeat;
  height: 24px;
  border-bottom: 1px solid #fff;

  ul {
    margin: 0;
    padding: 3px 0;
    list-style: none;
    height: 18px;
  }

  li {
    font-size: 1.4em;
    float: right;
    margin-right: 1px;
  }

  a {
    display: block;
    line-height: 18px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-left: 1px solid #fff;
    padding: 0 20px;
    width: auto;
  }

  a:hover {
    text-decoration: underline;
  }

  #featured_resorts_link, #advertise_link {
    padding: 0;
    width: 140px;
  }
}

.count {
  color: #fff;
  background: #f00;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  padding: 3px 6px;
  height: 18px;
  font-size: 12px;
  position: relative;
  vertical-align: baseline;
  top: -2px;
  line-height: 1px;
  font-weight: bold;
}

#session {
  font-size: 0;
  margin-right: 15px;
  text-align: right;

  li {
    background-color: rgba(0, 0, 0, 0.3);
    border-bottom: 4px solid #000000;
    color: #ededed;
    display: inline-block;
    font-size: 12px;
    line-height: 26px;
    margin-left: 5px;
    min-width: 145px;
    text-align: left;

    a {
      color: #ededed;
      display: inline-block;
      margin-right: 2px;
      padding: 0px 15px 0px 10px;
      text-decoration: none;
      width: 110px;
    }
  }
}
