<h1><%= link_to I18n.t('advertise'), advertise_path %> &rarr;
  <%= I18n.t('my_enquiries') %></h1>

<% if @enquiries.empty? %>
<p>You have no enquiries.</p>
<% else %>
<table class="grid">
  <thead>
    <tr>
      <th>From</th>
      <th>When</th>
    </tr>
  </thead>
  <tbody>
    <% @enquiries.each do |enquiry| %>
    <tr>
      <td><%= enquiry.email %></td>
      <td><%= l enquiry.created_at, :format => :short %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>
